@{
    
}
@section css{
    <link rel="stylesheet" href="/modules/css/shoppingcart.css" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/shoppingcart/filterproducts"], function (obj) {
            obj.init('@ViewBag.Type', '@ViewBag.GUID');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">@ViewBag.Title</span>
    @if (ViewBag.Type == (int)CloudSalesEnum.EnumDocType.Opportunity)
    {
        <a href="/Opportunitys/Detail/@ViewBag.GUID" class="btn-back right">返回机会详情</a> 
    }
    else if (ViewBag.Type == (int)CloudSalesEnum.EnumDocType.Order)
    {
        <a href="/Orders/Detail/@ViewBag.GUID" class="btn-back right">返回订单详情</a> 
    }
    else if (ViewBag.Type == (int)CloudSalesEnum.EnumDocType.RK)
    {
         <a href="/Purchase/ConfirmPurchase" class="btn right">提交采购单</a> 
    }
</div>
<div class="search-header">
    <ul class="category-map">
        <li data-id=""><a href="javascript:void(0);">全部分类</a></li>
    </ul>
    <div class="right searth-module" data-text="输入产品编码/名称/助记码" data-width="300"> </div>
</div>
<div class="search-body">
    <div class="search-item">
        <div class="name">分类</div>
        <ul class="search-stages" id="category-child">
            
        </ul>
    </div>
</div>
<ul class="search-sort">
    <li>排序</li>
    <li class="sort-item hover" data-column="pd.CreateTime">
        上架日期
        <span class="asc"></span>
        <span class="desc hover"></span>
    </li>
    <li class="sort-item" data-column="pd.SaleCount">
        销量
        <span class="asc"></span>
        <span class="desc"></span>
    </li>
    <li class="sort-item" data-column="pd.Price">
        销售价格
        <span class="asc"></span>
        <span class="desc"></span>
    </li>
    <li class="mLeft20">
        销售价：
        <input type="text" class="width60" id="beginprice" />&nbsp;-&nbsp;
        <input type="text" class="width60" id="endprice" />
        <span class="btn" id="searchprice">搜索</span>
    </li>
</ul>
<div class="content-body">
    <div class="attr-filter"></div>
    @*<div id="toppager" class="mTop20"></div>*@
    <div class="clear">
        <ul class="productlist" id="productlist">

        </ul>
    </div>

    <div id="pager" class="mTop20"></div>
    
</div>
