/**header*/
.header {
    width: 100%; background-color: #f8f8f8;border-bottom: 1px solid #eee;box-shadow: -1px 1px 1px #eee;
}
.divcenter h1{ font-size: 16px;height: 50px;line-height: 50px;text-indent: 10px;width: 100%;} 
.divcenter .menuul{ width: 500px;}
.divcenter .menuul li{ float: right;color: #999;padding: 0px 8px;}
.divcenter .menuul li a{ color: #999;float: right;cursor: pointer;font-size: 12px;}
.divcenter .menuul li a:hover{color: #f50;}
.divcenter .menuul li .img{width:18px;height:18px;border-radius:50%;border: solid 1px #ccc;}
.divcenter .menuul li .spanimg{width:20px;height:20px;border-radius:50%;cursor: pointer;display:inline-block;}
.divcenter .menuul li:hover .dropdown-top{ border-top:solid 6px #f50;}

.divcenter .dropdown { width:16px; height:16px; position:relative; overflow:hidden; margin-left:5px; margin-top:12px;cursor: pointer; }
.divcenter .dropdown .dropdown-top { border-top:solid 6px #ccc; border-left:solid 6px transparent ;border-right:solid 6px transparent ; position: absolute;top: 5px;} 
.divcenter .dropdown .dropdown-bottom { border-bottom:solid 6px #ccc;border-left: solid 6px transparent;border-right:solid 6px transparent;position: absolute;top: -5px;}

.dropdown-userinfo { position:fixed; background-color:#fff; width:120px; z-index:1000; border-radius:2px; border:solid 1px #eee;
                     box-shadow:0 0 5px #ccc; top:50px; right:20px; z-index:2000;}
.dropdown-userinfo .top-lump { border-bottom:solid 10px #fff; border-left:solid 12px transparent ;border-right:solid 12px transparent; 
                               width:0; height:0; position:absolute; left:50px; top:-9px; }
.dropdown-userinfo .items-list { padding:5px 0; overflow:auto; }
.dropdown-userinfo .items-list .item{ height:35px; line-height:35px; float:left; width:120px; }
.dropdown-userinfo .items-list .item a{ width:70px;padding-left:30px; display:inline-block; font-size:14px; color:#666;}
.dropdown-userinfo .items-list .item:hover {background-color: #eee;}
.divcenter {width: 1190px;margin: 0 auto;position:relative ;}

.creditul{ margin-top:5px;}
.divcenter .creditul li{ float: right;position: relative;width: 60px; background-color: #F0C789; height: 90px;margin-right: 10px;}
.divcenter .creditul li .sanjiao{ position: absolute; bottom: 0px; left: 0px;}
.triangle-up {width:0;height:0; border-left:30px solid transparent;   border-right:30px solid transparent;   border-bottom:10px solid #fff;} 

/*品类*/

.divcenter .categoryMenu{line-height: 40px; padding-right: 10px; color: #fff; background-color: #f39b4d; font-size: 14px; cursor: pointer; position: relative;}
.divcenter .categoryMenu:hover{background-color: #bb670c !important;}
.divcenter .categoryMenu.hover{background-color: #bb670c !important; }

.dropdown-ul li:hover {color: #4a98e7;background-color: #ccc;}

.providerdiv {margin: 0 auto;position: absolute;z-index: 666;width: 250px;min-height: 150px;background-color: #ffffff;min-width: 280px;
    overflow: hidden;border: 1px solid #eee;box-shadow: 3px 3px 3px #eee;
}
.providerdiv ul{line-height: 30px;}
.providerdiv ul li{line-height: 30px;font-size: 12px;padding: 0px 10px;width: 100%;}

.divcategory {margin: 0 auto;position: absolute;z-index: 666;width: 774px;min-height: 302px;background-color: #ffffff;
    overflow: hidden;border-bottom: 1px solid #bbb;border-left: 1px solid #bbb;border-right: 1px solid #bbb;}
.divcategory dl {float: left;margin: 0 20px;width: 210px;height: 140px;}
.divcategory dl dt {margin-bottom: 6px;padding: 10px 0;border-bottom: 1px solid #1759c2;cursor: pointer;overflow: hidden; }
.divcategory dl dd {float: left;margin-right: 15px;width: 60px;height: 24px;line-height: 2;overflow: hidden;cursor: pointer;}
.divcategory dl a { color:#333;}
.divcategory dl a:hover {color: #4a98e7;text-decoration: underline; }
.mRight0 { margin-right: 0px; }
/*价格排序*/
.divprice {height: 80px;width: 112px;display:none; position: absolute;top: -1px;left:-2px; z-index: 333;border:1px solid #ccc;background: #fff;
           -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.1);-moz-box-shadow: 0 3px 3px rgba(0,0,0,.1);box-shadow: 0 3px 3px rgba(0,0,0,.1);
}
.divprice li {float: none;white-space: nowrap;border-right: solid 1px #cccccc;border-left: solid 1px #cccccc}

.seachlist{ background-color: #f6f6f6; margin-top: 10px;} 
.seachlist .orderby{height: 39px;border: solid 1px #e8e8e8; } 
.seachlist .seachul {line-height: 39px;float: left;}
.seachul li{ float: left;cursor: pointer;}  
.seachul li .link {position: relative;float: left;height: 39px;margin-left: -1px;padding: 0 19px;border-left: solid 1px #f5f5f5;border-right: solid 1px #f5f5f5;text-decoration: none;color: #6d6d6d;}
.seachul li .link:hover {position: relative;z-index: 1;background-color: #fff;border-color: #e5e5e5;color: #f50;}
.seachul li .hover {position: relative;z-index: 1;background-color: #fff;border-color: #e5e5e5;color: #f50;}
.seachul li .icon {float: left;margin-top: 17.5px;margin-left: 4px;}
.seachul li .icon-btn-arrow-2-h {background-position: -296px -423px;width: 7px;height: 4px;}
.btn22 { padding: 4px 8px; background-color: #4a98e7; color: #fff; border: none; cursor: pointer; display: inline-block; border-radius: 2px; line-height: 16px; 
       -moz-transition: all 0.3s; -webkit-transition: all 0.3s; -o-transition: all 0.3s; }
.btn22:hover { background-color:#2F73B8; }
.btnlihover{ background-color: #fff;border: solid 1px #cccccc;margin-left: -1px;margin-top: -1px;}

/*产品列表样式*/
.productlist { width:1208px; overflow:hidden;display: block;}
.productlist li{ width:240px; float:left;margin: 20px 20px 0 0; border:solid 1px #eee;display: list-item; }
.productlist .product-item{  width:240px;  display:inline-block; position:relative; }
.productlist li:hover{ border:solid 1px #B10000; }
.product-item .productimg { width:240px; height:230px; display:table-cell; background:url('/modules/images/none-img.png') no-repeat center; overflow:hidden; text-align:center; vertical-align:middle; background-color:#eee; }
.product-item .productimg img{ max-width:240px; height:240px;}
.product-item .price { color:#B10000; padding:0 5px; height:30px; line-height:30px; font-size:16px; }
.product-item .name { width:240px; max-height:40px; line-height:20px; overflow:hidden; color:#333; margin:0 5px; font-size:14px; display:inline-block; }
.product-item .name:hover { text-decoration:underline; color:#B10000; }
.product-item .sales-stock { padding:5px; position:absolute; bottom:0px; width:220px; }
.product-item .sales-stock span{ color:#999; }  
.nodata-div{margin-top:20px;padding: 30px 0px;font-size: 16px;text-align: center;color: #666;border: solid 1px #ccc;box-sizing:border-box;-moz-box-sizing:border-box; -webkit-box-sizing:border-box; width:1190px;}
/*产品属性*/
.show-nav { height: 34px; width: 1188px; line-height: 34px; margin-top: 20px; border-width: 1px 1px 1px; border-style: solid; 
            border-color: #fff #DEDFDE #DEDFDE; background-color: #F7F7F7; overflow: visible; }
.show-nav-ul { float: left; height: 31px; margin-bottom: -1px; }
.show-nav-ul li { height:30px; float:left; padding:0 20px; }
.show-nav-ul .hover { position: relative; height: 35px; line-height: 35px; margin-top: -2px; margin-left: -1px; border-top: 2px solid #F39B4D;
          border-left: 1px solid #DEDFDE; border-right: 1px solid #DEDFDE; background-color: #FFF; }

.product-attr { padding:30px 50px; width:1088px;  border-style:solid ; border-width:0 1px 1px; border-color:#DEDFDE; margin-bottom:20px; }
.product-attr li{ width:22%; padding:5px 1%;}
.bottombtn:hover{ background-color: #ff500b;}
