{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<ul class="box-item">
    <li class="tLeft">
        <a href="javascript:void(0);" data-id="{%=item.CustomerID%}" class="btn-open-window" data-name="客户详情-{%=item.Name%}" data-url="/Customer/Detail/{%=item.CustomerID%}">{%=item.Name%}</a>
    </li>
    <li class="width50">{%=item.Type==1?"企业":"个人"%}</li>
    <li class="width100">{%=item.StageStatusStr||"--" %}</li>
    <li class="width100">{%=item.ContactName||"--"%}</li>
    <li class="width100">{%=item.MobilePhone||"--"%}</li>     
    <li class="width100">{%=(item.Owner ? item.Owner.Name:"--")%}</li>
    <li class="width150">{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss")%}</li>
</ul>
{% } %}
