@{
    var plist = (List<CloudSalesEntity.ProvidersEntity>) ViewBag.Providers;
    ViewBag.Title = "智能工厂--款式中心";
    CloudSalesEntity.Users CurrentUser = (CloudSalesEntity.Users)Session["ClientManager"];
}
@section css{
    <link rel="stylesheet" href="/modules/stylecenter/css/stylecenter.css"/>
    <link rel="shortcut icon" href="/modules/stylecenter/images/ico-cmlogo.png">

    <style>
        #cgbtn{color: #fff;}
        #cgbtn:hover{color:#f4f4f4;}

    </style>

}
@section scripts{
    <script type="text/javascript"> 
        seajs.use(["/modules/stylecenter/scripts/orderslist"], function (obj) {
            obj.init('@ViewBag.ClientID');
        });
    </script>
}
<div style="height: 100px;">
    <div class="divcenter pTop5">
        <div class="left" id="imglogo">
            <span class="left mTop10"><img src="/modules/stylecenter/images/ico-cmlogo.png" style="width: 60px; height: 60px;"/></span>
            <span class="left mTop20 " style="">
                <a class="font16">智能工厂</a><a>&nbsp;款式中心</a><br/>
                <a class="font9 tRight mLeft30 lineHeight30" style="font-style: italic;letter-spacing:3px;">&nbsp;  &nbsp;采购-管理就是如此简单</a> 
            </span>
        </div> 
        <a class="right mRight20 pTop5" style="color: #4B9CEE" href="@(ViewBag.Url)/Default/Index">[返回]</a>
        <a class="right mRight10 pTop5" style="color: #4B9CEE" id="cgbtn">[采购订单]</a>
        <a class="right mRight10 pTop5" style="color:#4B9CEE" id="myself" >[@(CurrentUser.Name)]</a>
        <div class="searth-module right mRight50 mTop30" data-text="款号/名称模糊搜索..." data-width="180"> </div>
       
        <div class="clear"></div>
    </div>
</div>
<div class="header-box" style="background-color: #4a98e7; padding: 0px 20px;">
    <div class="divcenter">
        <div class="left" id="divCategory">
        <div class="header-title left pLeft10" id="spanCategory" style="padding-right: 10px; color: #999; background-color: #ffffff; font-size: 14px; cursor: pointer; position: relative;">所有类目

        </div>
        <div class="divcategory hide mtop30"></div>

        </div> 
        <span class="clear"></span>
    </div>

</div>
<div class="divcenter seachlist">
    <div class="orderby">
        <ul class="seachul">
            <li title="综合排序" class="font11" data-name="zh" data-desc="" data-asc="false"><span class="link hover">综合排序</span></li>
            <li title="销量从高到低" class="font11" data-name="sales" data-desc="p.SaleCount" data-asc="false"><span class="link">销量</span></li>
            <li title="价格从高到低" class="font11" data-name="price" data-desc="" id="liprice" style="position: relative;">
                <span class="link" id="parentprice">价格</span>
                <span class="icon icon-btn-arrow-2-h"></span>
                <ul class="divprice hide">
                    <li data-desc="p.Price" data-asc="false"><span class="link" >价格从高到底</span></li>
                    <li data-desc="p.Price" data-asc="true"><span class="link" >价格从低到高</span></li>
                </ul>
            </li>
            <li title="价格区间" class="font11" id="pricerange" data-name="pricerange" data-desc="" style="padding:0 10px;">
                <span class="left mRight10">
                <input type="text" id="beginprice" value="" style="height: 20px; width: 45px;"  placeholder="￥"/> -
                <input type="text" id="endprice"  value="" style="height: 20px; width: 45px;" placeholder="￥"/>
                </span>
                <span class="btn22 left" id="btnPriceRange" style="display: none;width: 24px; margin-top: 8px;" >确定</span>
                <span class="clear"></span>
            </li>
        </ul>
    </div>
    
</div>
<div >
    <div class="content-body divcenter" style="overflow: hidden; "> 
        <ul class="productlist" id="productlist">

        </ul> 

        <div id="pager" class="mTop20"></div>
    </div>
</div>
<input hidden="hidden" id="ipturl" type="text" style="display: none;" value="@(ViewBag.Url)"/>
