@{
    ViewBag.Title = "订单分布统计";
}

<style type="text/css">
    .source-box { height:500px; }
</style>
<link href="/modules/plug/daterangepicker/daterangepicker.css" rel="stylesheet" />

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/salesrpt/ordermaprpt"], function (obj) {
            obj.init();
        });
    </script>
} 
<div class="tab-nav">
    <ul class="tab-nav-ul search-tab search-type">
        <li data-id="ordermapRPT" data-type="1" class="hover">按地区</li>
        <li data-id="ordertypeRPT" data-type="2">按类型</li>
    </ul>
</div> 
<div class="search-header">
    <div class="left" id="chooseBranch mRight5"></div>

    <div id="OrderMapType" class="left mRight5"></div>

    <div class="left" title="日期">
        <input type="text" id="iptCreateTime" placeholder="日期" class="ipt-date "  />
    </div>
</div>
<div class="content-body">

    <div id="ordermapRPT" class="source-box mLeft20"></div>

    <div id="ordertypeRPT" class="source-box mLeft20"></div>

</div>

