
@section css{
   <style type="text/css">  
        .div-select {border: 1px solid #e6e6e6;font-family: Arial,"Hiragino Sans GB","微软雅黑","黑体-简",
                    Helvetica,sans-serif;font-size: 12px;}
    </style>
}

     <div class="mLeft20 mTop10" style="height: 360px; overflow-y: scroll; overflow-x: hidden;">
         <div>
             <span> 请按照数据模板的格式准备要导入的数据。</span> <br/>
             <div class="mLeft20">
                 <a href="javascript:void(0);" id="exportModel" class="exportModel" style="margin-top: 5px; font-size: 10pt;"> 下载数据模板</a>
                 <select id="modelName" style="height: 20px;line-height: 20px;">
                         <option value="Item">企业</option>
                         <option value="OwnItem">联系人</option> 
                     </select>
                 <br/><br/>
                 <span id="spanWare" class="spanWare hide">     
                查看注意事项>></span> 
                 <div id="divInfo" class="divInfo">
                     <p class="mLeft5 red">注意事项：</p>
                     <ul class="mLeft5 red">
                         <li class="red">1、模板中的表头名称不可更改，表头行不能删除</li>
                         <li class="red">2、项目顺序可以调整，不需要的项目可以删减</li>
                         <li class="red">3.1、其中企业客户中公司名称,客户名称,手机为必填项，必须保留</li>
                         <li class="red">3.2、其中个人客户,客户名称,客户所有人为必填项，必须保留</li>
                         <li class="red">4、导入文件请勿超过1MB。</li>
                     </ul>
                 </div>
             </div>
         </div>
         <div class="mTop20">
             <span> 请选择数据重复时的操作方式：</span> <br/>
             <div class="mLeft20 mTop5">
                 <div>
                     <select name="overType" class="div-select">
                         <option value="0">不导入</option>
                         <option value="1">覆盖导入</option>
                         <option value="2">不导入新数据, 仅覆盖重复数据</option>
                     </select>
                 </div>
                 <div class="mTop5 bolder">查重规则:
                     <select name="type" class="div-select bolder">
                         <option value="0">客户名称</option>
                         <option value="1">手机号码</option>
                         <option value="2">客户名称和手机号码</option>
                     </select>
                 </div>
             </div>
         </div>
         <div class="mTop20">
             <span> 请选择需要导入的Excel文件。</span> <br/>
             <input name="file" type="file" style="cursor: pointer;" class="mLeft20 mTop5 "/>
         </div>
     </div> 
