@{
    
}

@section css{
    <link href="/modules/plug/daterangepicker/daterangepicker.css" rel="stylesheet" />
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/customer/customer"], function (ObjectJS) {
            ObjectJS.init('@ViewBag.Type'); 
        });
    </script>
}
<div class="header-box">
    <div data-url="/Customer/Create" data-id="101019001" data-name="新建客户" class="btn-add btn-open-window left @(ExpandClass.IsLimits(HttpContext.Current,"101019001"))">新建客户</div>
    <div id="exportExcel" class="btn left @(ExpandClass.IsLimits(HttpContext.Current,"101019001"))">导入客户</div>
</div>
<div class="search-header">
    <div class="left mRight20" id="chooseBranch"></div>
    <div class="left" title="创建时间">
        <input type="text" id="iptCreateTime" placeholder="创建时间" class="ipt-date"  />
    </div>
    <div class="btn-filter right">更多筛选</div>
    <div class="searth-module right mRight20" data-text="关键字搜索..." data-width="160"> </div>
</div>
<div class="search-body">
    <div class="search-item">
        <div class="name">阶段</div>
        <ul class="search-stages">
            <li data-id="-1" class="hover">全部</li>
            <li data-id="1">新客户</li>
            <li data-id="2">机会客户</li>
            <li data-id="3">成交客户</li>
        </ul>
    </div>
    <div class="search-item">
        <div class="name">状态</div>
        <ul class="search-status">
            <li data-id="-1">全部</li>
            <li data-id="1" class="hover">正常</li>
            <li data-id="2">关闭</li>
        </ul>
    </div>
    <div class="search-item">
        <div class="name">类型</div>
        <ul id="customerType">
            <li data-id="-1" class="hover">全部</li>
            <li data-id="1">企业客户</li>
            <li data-id="0">个人客户</li>
        </ul>
    </div>
    <div class="search-item">
        <div class="name">来源</div>
        <ul id="customerSource">
            <li data-id="" class="hover">全部</li>
        </ul>
    </div>
    <div class="close-filter">
        <span>收起</span>
    </div>
</div>  
 
<ul class="search-sort">
    <li>排序</li>
    <li class="sort-item hover" data-column="cus.CreateTime">
        创建日期
        <span class="asc"></span>
        <span class="desc hover"></span>
    </li>
    <li class="sort-item" data-column="cus.ReplyTimes">
        备忘数
        <span class="asc"></span>
        <span class="desc"></span>
    </li>
</ul>

<div class="content-body">
    <table class="table-list">
        <tr class="tr-header">
            <td class="width30"><span id="filterMark"></span></td>  
            <td class="width30"></td>
            <td class="tLeft">客户名称</td>
            <td class="width50">类型</td>
            <td class="width150">来源</td>
            <td class="width100">阶段</td>
            <td class="width100">联系人</td>
            <td class="width100">联系电话</td> 
            <td class="width80">备忘数</td>     
            <td class="width100">负责人</td>
            <td class="width100">创建时间</td>
        </tr>
    </table>
    <div class="mTop20">
        <ul class="left batch-operate">
            <li class="width30 center">
                <span data-value="-1" class="mTop5" id="batchMark"></span>
            </li>
            <li class="width100 mLeft10">
                <span class="ico-check pLeft5 mTop5" id="checkAll">批量操作</span>
            </li>
            <li>
                <a href="javascript:void(0);" class="btn @(ExpandClass.IsLimits(HttpContext.Current,"101019002"))" id="batchChangeOwner">更换负责人</a>
            </li>
            <li>
                &nbsp;<a href="javascript:void(0);" class="btn" id="batchCustomerExport">导出客户</a>
            </li>
             <li>
                &nbsp;<a href="javascript:void(0);" class="btn" id="batchContactExport">导出联系人</a>
            </li>
        </ul>
        <div id="pager"></div>
    </div>
</div>