@{
    ViewBag.Title = "订单发货";
}
@section css{
    <link href="/modules/css/stock.css" rel="stylesheet" />
    <link href="/modules/plug/daterangepicker/daterangepicker.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/storageout/storagesend"], function (ObjectJS) {
            ObjectJS.init();
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">订单发货</span>
</div>
<div class="search-header">
    <div class="left" title="订货时间">
        <input type="text" id="iptCreateTime" placeholder="订货时间" class="ipt-date"  />
    </div>
    <div class="right searth-module" data-text="订单编号/出库单号/收货人..." data-width="200"> </div> 
</div>
<div class="search-body">
     <div class="search-item">
        <div class="name">状态</div>
        <ul class="search-status">
            <li data-id="11">全部</li>
            <li data-id="1" class="hover">未发货</li>
            <li data-id="12">已发货</li>
        </ul>
    </div>
</div>
<div class="content-body">
    <table class="table-list">
        <tr class="tr-header">
            <td class="width50">发货</td>
            <td class="tLeft">订单编号</td>
            <td class="width100">总金额</td>
            <td class="tLeft">地址</td>
            <td class="">邮编</td>
            <td class="">收货人</td>
            <td class="width100">联系电话</td>
            <td class="width150">出库单号</td>
            <td class="width150">订货时间</td>
        </tr>
    </table>
    <div id="pager" class="mTop20"></div>
</div>

