.main-module { display: -webkit-box; display: -moz-box; }
.user-avatar img{width:40px;height:40px;border-radius:50%; }
.user-nav { font-size:26px;line-height:40px;}
.main-module li { -webkit-box-flex:1;-moz-box-flex:1;text-align:center;}
