@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1" name="viewport">
    <title></title>
    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="/modules/css/layout.css" rel="stylesheet" />
    @RenderSection("css", false);
</head>
<body>
    <div class="main-body">
        <header>

        </header>
        <div class="main-content">
            @RenderBody();
        </div>
        <footer>

        </footer>
    </div>
    @RenderSection("script", false);
</body>
</html>
