{%
    for(var i=0;i<$data.length;i++)
    { 
        var item=$data[i];
        var totalquantity=0;
        for(j=0;j<item.Details.length;j++)
        {
            var detail=item.Details[j];
            totalquantity+=detail.Quantity;
        }
%}
        <ul class="listabove row">
            <li style="">
                <a href="/M/Orders/Detail/{%=item.DocID%}" style="padding:1px;border:1px solid #ddd;font-size:0;"><img class="task-list-img" onerror="this.src='/modules/m/images/img-noimg.png'" data-src='{%=item.orderImage==""?"/modules/m/images/img-noimg.png":item.orderImage%}' /></a>
            </li>     
            <li class="center-list-task">
                <!--任务详情-->
                <div class="mTop4">
                    <div style="display:table;width:100%;">   
                        <div style="display:table-cell;">
                            <a class="color333 details" style="margin-top:0;word-break:break-all;" href="/M/Orders/Detail/{%=item.DocID%}">{%=item.Details[0].ProductName%}</a>
                        </div>
                        <div style="display:table-cell;vertical-align:top;padding:0 10px;" class="blue tRight">￥{%=item.TotalMoney%}</div>
                    </div>
                    <div style="line-height:24px;">
                        <span class="width80 long left">下单数量：</span>
                        <span class="long left">
                            {%=totalquantity%}
                        </span>
                        <div class="clear"></div>
                    </div>
                    <div style="line-height:24px;">
                        <span class="width80 long left">订单进度：</span>
                        <span class="long left">{%=item.StatusStr%}</span>
                        <div class="clear"></div>
                    </div>             
                    <div style="line-height:24px;">
                        <span class="width80 long left">下单时间：</span>
                        <span class="long left">{%=item.CreateTime.toDate('yyyy-MM-dd')%}</span>
                        <div class="clear"></div>
                    </div>                                              
                    <div class="clear"></div>
                </div>                                                
            </li>
        </ul>
{%}%}

