{%
    for(var i=0;i<$data.length;i++)
    { 
        var item=$data[i];
        var totalquantity=0;
        for(j=0;j<item.Details.length;j++)
        {
            var detail=item.Details[j];
            totalquantity+=detail.Quantity;
        }
%}
        <ul class="listabove row">
            <li style="">
                <a href="/m/home/Detail?orderid={%=item.orderID%}&clientid={%=item.clientID%}"><img class="task-list-img" onerror="this.src='/modules/m/images/img-noimg.png'" data-src='{%=item.orderImage==""?"/modules/m/images/img-noimg.png":item.orderImage%}' /></a>
            </li>     
            <li class="center-list-task">
                <!--任务详情-->
                <div class="mTop4">
                    <div class="details" style="margin-top:0;height:initial;">   
                        <a class="color333 left Long width100" href="/Task/Detail/{%=item.orderID%}">{%=item.goodsName%}</a>
                        <div class="right blue mRight10">￥{%=item.TotalMoney%}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="stage">
                        下单量：
                        <span>
                            {%=totalquantity%}
                        </span>
                    </div>
                    <div class="stage">
                        订单进度：
                        <span>{%=item.StatusStr%}</span>
                    </div>             
                    <div class="stage">
                        下单时间：
                        <span>{%=item.CreateTime.toDate('yyyy-MM-dd hh:mm:ss')%}</span>
                    </div>                                              
                    <div class="clear"></div>
                </div>                                                
            </li>
        </ul>
{%}%}

