
var item=$data;

<div class="style-content">
        <div class="style-main">
            <div class="style-detail">
                <div class="style-title">12345678123456781234567812345678</div>
                <div class="blue mTop30"><span class="font18">￥</span> <span class="bold">1299</span></div>
            </div>
            <div class="style-img">
                <img src="/modules/m/images/img-noimg.png"/>
            </div>
            <div class="close iconfont">
                &#xe628;
            </div>
            <div class="style-attr">
                <div class="attr-title">款式尺码</div>
                <div class="attr-rule attr-ul">
                    <ul>
                        <li class="select">M</li>
                        <li>L</li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="attr-title">款式颜色</div>
                <div class="attr-color attr-ul">
                    <ul>
                        <li>红色</li>
                        <li class="select">白色</li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="attr-title">所选款式</div>
            </div>
        </div>
    </div>
    <div class="btn-sureAdd">确定</div>


