{%
var item=$data;
%}
<div class="style-content">
    <div class="style-main">
        <div class="style-detail">
            <div class="style-title">{%=item.intGoodsCode+item.goodsName%}</div>
            <div class="blue mTop30"><span class="font18">￥</span> <span class="bold">{%=item.finalPrice%}</span></div>
        </div>
        <div class="style-img">
            <img onerror="this.src='/modules/m/images/img-noimg.png'" src="{%=!item.orderImage?'/modules/m/images/img-noimg.png':item.orderImage%}"/>
        </div>
        <div class="close iconfont">
            &#xe628;
        </div>
        <div class="style-attr">
            <div class="productsalesattr">
                <div class="attr-title" data-type="1" id="attrBox" data-id="{%=item.AttrLists[0].AttrID%}">{%=item.AttrLists[0].AttrName%}</div>
                <div class="attr-rule attr-ul">
                    <ul class="attr-item">
                        {%
                            for(var i=0;i<item.AttrLists[0].AttrValues.length;i++){
                                var attr=item.AttrLists[0].AttrValues[i];
                        %}
                                <li class="size" data-id="{%=attr.ValueID%}" data-value="{%=attr.ValueName%}" data-type="1">
                                    {%=attr.ValueName%}
                                </li>
                        {%}%}
                        <li style="background-color:initial;padding:initial;"><input type="text" style="padding:4px 2px;" class="center width50 layout-attr" placeholder="自定义" /></li>
                        <div class="clear"></div>
                    </ul>
                    <div class="show-more width50 mTop10 center" style="border:1px solid #ddd;color:#0026ff;padding:5px 15px;border-radius:3px;">更多+</div>
                </div>
            </div>
            <div class="productsalesattr">
                <div class="attr-title" data-type="2" id="colorBox" data-id="{%=item.SaleAttrs[0].AttrID%}">{%=item.SaleAttrs[0].AttrName%}</div>
                <div class="attr-color attr-ul">
                    <ul class="attr-item">
                        {%
                            for(var i=0;i<item.SaleAttrs[0].AttrValues.length;i++){
                                var attr=item.SaleAttrs[0].AttrValues[i];
                        %}
                                <li class="color" data-id="{%=attr.ValueID%}" data-value="{%=attr.ValueName%}" data-type="2">
                                    {%=attr.ValueName%}
                                </li>
                        {%}%}
                        <li style="background-color:initial;padding:initial;"><input type="text" style="padding:4px 2px;" class="center width50 layout-attr" placeholder="自定义" /></li>
                        <div class="clear"></div>
                    </ul>
                    <div class="show-more width50 mTop10 center" style="border:1px solid #ddd;color:#0026ff;padding:5px 15px;border-radius:3px;">更多+</div>
                </div>
            </div>
            <div>
                <div class="attr-title">所选款式</div>
                <div class="attr-box"></div>
            </div>
            <div>
                <div class="attr-title">收货信息</div>
                <ul>
                    <li class="mTop10">
                        <span class="width80" style="display:inline-block;">客户名称：</span>
                        <span>
                            <input type="text" maxlength="20" id="customerName" value="" style="width:200px;text-indent:4px;padding:2px;box-sizing:border-box;" />
                        </span>
                    </li>
                    <li class="mTop10">
                        <span class="width80" style="display:inline-block;">联系电话：</span>
                        <span>
                            <input type="tel" maxlength="13" id="customerTel" value="" style="width:200px;text-indent:4px;padding:2px;box-sizing:border-box;" />
                        </span>
                    </li>
                    <li class="mTop10">
                        <span class="width80 left" style="display:inline-block;">地址：</span>
                        <span class="left mLeft4" id="citySpan" style="width:200px;"></span>
                        <div class="clear"></div>
                    </li>
                    <li class="mTop10">
                        <span class="width80" style="display:inline-block;">详细地址：</span>
                        <span><input type="text" maxlength="50" id="customerAddress" value="" placeholder="详细地址" style="width:200px;text-indent:4px;padding:2px;box-sizing:border-box;" /></span>
                    </li>
                </ul>
            </div>
            </div>
        </div>
</div>
<div class="btn-sureAdd">确定</div>