@{
    Layout = null;
}
<title>登录二当家</title>
<link href="/modules/css/base.css" rel="stylesheet" />
<link href="/modules/css/default/layout.css" rel="stylesheet" />
<link href="/modules/css/home/selectlogin.css" rel="stylesheet" />

<div class="header">
    <span class="left mLeft10">云销科技</span>
    <span class="right"><a href="/Home/Login">登录</a></span>
    <div class="clear"></div>
</div>
<div class="select-login" style="width:720px;">
    <div class="left ali-login">
        <div><img src="/modules/images/ico-changmeng-login.png" /></div>
        <div class="des">尚未注册二当家账户</div>
        <div onclick="location.href='/Home/CMRegister'" class="btn">注册并绑定厂盟</div>
    </div>

    <div class="left bind-account">
        <div><img src="/modules/images/ico-account-login.png" /></div>
        <div class="des">已注册二当家账户</div>
        <div class="btn" onclick="location.href='/Home/Login?BindAccountType=1'" >绑定已有账户</div>
    </div>
    <div class="clear"></div>
</div>

