{%
	for(var i=0, j=$data.length; i < j; i++){
    var item = $data[i];
    var titlename=item.intGoodsCode+" "+item.goodsName;
    var goodname=(titlename.length>17?titlename.substring(0,17)+"...":titlename);
%}

<li style="padding: 20px;height: 339px;">
    <div class="product-item"  >
        <a class=" productimg" title="{%=item.intGoodsCode%}&nbsp;{%=item.goodsName%}" data-href="/Mall/Store/GoodsDetail?orderid={%=item.orderID%}"
             href="javascript:void(0);" data-name="产品详情页-{%=item.goodsName%}" data-orderid="{%=item.orderID%}" data-img="{%=item.orderImage%}">
            <img  src="{%=item.orderImage%}" alt=""/>
        </a>
        <h2 class="price">
            ￥{%=item.finalPrice.toFixed(2)%}
        </h2>
        <a class="btn-open-window name" style="height: 40px;" data-href="/Mall/Store/GoodsDetail?orderid={%=item.orderID%}" href="javascript:void(0);" data-name="产品详情页-{%=item.goodsName%}" data-orderid="{%=item.orderID%}" title="{%=item.intGoodsCode%}&nbsp;{%=item.goodsName%}">
            &nbsp;{%=goodname%}
        </a> 
         <div class="mLeft5 mTop5 " title="分类:{%=item.clientName%}">
            <div class="left mLeft3">
                <img src="/modules/images/ico-provider.png" style="width: 16px; height: 16px; display: inline-block;"> 
            </div>
            
            <div class="left color999 mLeft5" style="height: 16px;">&nbsp;{%=item.categoryName%}</div>
            <div class="clear"></div>
        </div> 
    </div>
</li>
{% } %}
