body { background-color:#fff;font-size:14px;}

header { width:100%;background-color:#f8f8f8;line-height:60px;}
header .task-text {color:#373737;text-align:center;}

/*alert 弹出层样式*/
.alert {background-color: #333;opacity:0.8; font-size: 13px; position: fixed; top:35%; z-index: 99999; 
         padding:20px;padding-left:40px;  overflow:auto; border-radius:5px;min-width:140px;max-width:260px;}
.alert .alert-wrap { word-wrap: break-word;  word-break:break-all;color:#fff;font-size:14px;}
.alert-wrap .alert-icon-right:before {content:"\e613";}
.alert-wrap .alert-icon-right {color:#fefefe;font-size:20px;float:left;}
.alert-wrap .alert-icon-warn:before {content:"\e64a";}
.alert-wrap .alert-icon-warn {color:#fefefe;font-size:20px;float:left;}
.alert-wrap .alert-msg {float:left;color:#fff;font-size:16px;line-height:24px; padding:0 20px 0 15px;max-width:160px;}
.alert-wrap .alert-close:before {content:"\e628";}
.alert-wrap .alert-close {float:left;color:#ddd;font-size:20px;padding-top:0px;cursor:pointer;}
.alert-wrap .alert-close:hover {color:#fff;}

.confirm-layer {position: fixed; z-index:99998; top:0; left:0;right:0; bottom:0; background-color:#000; opacity:0.7;}
.confirm { border: 1px solid #ccc; background-color: #fff; font-size: 13px; position: fixed; top:35%; z-index: 99999; width:260px; overflow:auto;padding:20px;border-radius:3px; }
.confirm .confirm-wrap { word-wrap: break-word;  word-break:break-all;font-size:16px;  }
.confirm .confirm-bottom { margin-top:20px; text-align:right; }
.confirm-bottom .sure { padding:10px 24px; background-color:#4a98e7; color:#fff; border:none; cursor:pointer; display:inline-block; border-radius:3px; }
.confirm-bottom .sure:hover {  background-color:#2F73B8;  }
.confirm-bottom .close { padding:5px 40px; color:#999; border:none; cursor:pointer; display:inline-block; }
.confirm-bottom .close:hover {color:#4a98e7; }

#citySpan select { width:200px;}
#citySpan select:not(:first-child) { margin-top:5px;}

.btn {  padding:5px 10px; background-color:#4a98e7; color:#fff; border:none; display:inline-block; border-radius:2px; line-height:18px;cursor:pointer;}

.header-btn {background-color:#2F73B8;border:1px solid #fff; color:#fff;text-align:center;font-size:16px;padding:6px; border-radius:2px;width:80px;
                                                              -webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}

.btn999 {  padding:5px 10px; background-color:#999; color:#fff; border:none; cursor:pointer; display:inline-block; border-radius:2px; line-height:18px; }

/*删除 叉*/
.ico-delete{ background:url(/modules/images/ico-delete.png) no-repeat; height:30px; min-width:30px; line-height:30px; 
    cursor:pointer;
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #fff;
    border-radius:50%;
    background-size:30px;
}
.ico-delete-file{
    position: absolute;
    top: -14px;
    right: -8px;
    font-size: 14px !important;
    height: 28px;
    line-height: 30px;
    color: #999;
    cursor: pointer;
    background-color: #fff;
    border: 0;
    margin-top: 5px;
}

/*编辑*/
.ico-edit:after { content:"\e607";color:#4a98e7;}

/*表格样式*/
.table-list { width: 100%; border-spacing: 0px;}

.table-list .tr-header{ height:35px; text-align:center; }
.table-list .tr-header td{ height:35px; border-bottom:solid 2px #e6e6e6;  font-weight:bold; color:#666; padding:0 5px;
                           white-space:normal; overflow: hidden; text-overflow:ellipsis; }

.table-list tr:not(:first-child){ height:35px; cursor:pointer; }
.table-list tr:not(:first-child):hover { background-color: #f6f6f6; }
.table-list tr:not(:first-child) td{ padding:5px; line-height:35px; border-bottom:solid 1px #eee; max-width:500px; color:#333; 
                                     white-space:nowrap; overflow: hidden; text-overflow:ellipsis; }

.table-list tr td:first-child{ text-indent:2px;}

.table-list td a{ color:#4a98e7;  vertical-align:middle;}
.table-list td a:hover{ color:red; text-decoration:underline; }

.table-list td img{ width:80px; height:80px; display:inline-block;  vertical-align:middle;}

.table-list .ico-check { vertical-align:middle; }
.table-list .ico-checked { vertical-align:middle; }
.table-list .show-all-txt { word-wrap: break-word; white-space: normal !important; }

/*表格样式1-带详情*/
.table-items-detail { width:100%; border-spacing:0px; box-sizing:border-box;}
.table-items-detail td{ text-align:center; padding:0px 10px; }

.table-items-detail .table-header { background-color:#f1f1f1; height:35px; }
.table-items-detail .table-header td{ border-top:solid 1px #ddd;  border-bottom:solid 1px #ddd; color:#333; }

.table-items-detail .item-header { background-color:#f1f1f1; height:40px; }
.table-items-detail .item-header td{ border-top:solid 1px #ddd;  border-bottom:solid 1px #ddd; color:#333; }

.table-items-detail .item { height:50px;}
.table-items-detail .item.last td {  border-bottom:solid 1px #ddd; }

.table-items-detail .first-line-item{ height:50px; }
.table-items-detail .line-item { height:20px; }

.table-items-detail .bLeft { border-left:solid 1px #ddd; }
.table-items-detail .bRight { border-right:solid 1px #ddd; }
.table-items-detail .bBottom { border-bottom:solid 1px #ddd; }

.table-items-detail a { color:#333; }
.table-items-detail a:hover { color:red; }
.table-items-detail td img { max-width:120px;max-height:120px;}

/*新建样式*/
.table-add {  border-bottom:solid 1px #eee; padding:0 20px 20px 20px; }
.table-add li{ line-height:25px; margin-top:5px;  padding: 2px 0px;}
.table-add li input[type="text"],.table-add li input[type="password"]{ height:20px; line-height:20px; padding:2px 5px; width:150px; }
.table-add li textarea {resize:none; height:80px; line-height:20px; padding:1px 5px; border:solid 1px #ccc; width:300px; border-radius:2px;}
.table-add span {  display:inline-block; vertical-align:top;}
.table-add .column-title { color:#999; width:100px;}

/*暂无数据*/
.nodata-txt { padding: 40px 0px; font-size: 16px; text-align: center; color: #666; background-color:#fff; }

/*图片loading*/
.data-loading { padding: 80px 0px; font-size: 16px;text-align: center; color: #666; background:url(/modules/m/images/ico-loading.gif) no-repeat center center;background-size:45px 45px; background-color:#fff; }

.prompt {
line-height:60px;
}

/*返回顶部*/
.getback { position:fixed;z-index:555;color:#666;right:10px;bottom:20px;display:none;}
.getback span{right:10%;}

.overlay-addOrder {
    position:fixed;
    left:0px;
    top:0px;
    z-index:2000;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.65);
    display:none;   
}

.overlay-addOrder .style-content {
    background-color:#fff;
    position:absolute;
    bottom:0;
    left:0;
    height:0px;
    width:100%;
}

.overlay-addOrder .style-main {
    position:relative;
    padding:20px 10px 60px 10px;
}

.overlay-addOrder .style-main .style-detail {
    margin-left:135px;
}

.overlay-addOrder .style-main .style-title {
    line-height:20px;
    height:40px;
    width:90%;
    word-break:break-all;
}

.overlay-addOrder .style-main .style-img {
    padding:5px 10px;
    border-radius:5px;
    position:absolute;
    left:10px;
    top:-15px;
    border:1px solid #eee;
    background-color:#fff;
}

.style-main .style-img img {
    width:100px;
    height:120px;
} 


.overlay-addOrder .style-main .close {
    font-size:24px;
    position:absolute;
    right:8px;
    top:5px;
}

.overlay-addOrder .style-attr {
    height:265px;
    overflow-y:auto;
    margin-top:15px;
}

.overlay-addOrder .style-attr .attr-title {
    font-size:16px;
    line-height:40px;
}

.overlay-addOrder .style-attr .attr-ul {
    padding-bottom:15px;
}

.overlay-addOrder .style-attr .attr-ul li {
    float:left;
    margin-right:15px;
    padding:5px 15px;
    text-align:center;
    border-radius:3px;
    background-color:#eee;
    cursor:pointer;
    min-width:50px;
    margin-top:10px;
    position:relative;
}
.attr-ul li .quantity-lump { 
    background-color:red;
    color:#fff;
    position:absolute;
    right:-5px;
    top:-8px;
    width:25px;
    height:25px;
    line-height:25px;
    border-radius:50%;
}
.attr-ul li .quantity-lump.quantity-more { 
   font-size:12px;
}
.overlay-addOrder .style-attr .attr-ul .select {
    background-color:#2F73B8;
    color:#fff;
}
/*.overlay-addOrder .style-attr .attr-ul .hasquantity { background-color:#4a98e7;color:#fff;}*/ 
.overlay-addOrder .btn-sureAdd {
    position:fixed;
    width:100%;
    bottom:0;
    left:0;
    z-index:2000;
    background-color:#4a98e7;
    color:#fff;
    text-align:center;
    line-height:50px;
}
.overlay-addOrder .btn-sureAdd.unable { background-color:#ddd;color:#888;}
#pirceRangeBox { background-color:#efefef;border:1px solid #ccc;}
#pirceRangeBox .range { padding:0 5px;line-height:35px;border-bottom:1px solid #ccc;}
#pirceRangeBox .range.hover { background-color:#555;}
#pirceRangeBox .range.hover div { color:#fff !important;}
#pirceRangeBox .range:last-child { border-bottom:none;}

@media screen and (max-height:465px) {
    .overlay-addOrder .style-attr { height:200px !important;}
}