{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="list-item">    
    <td class="tLeft"><a href="javascript:void(0);" class="a" title="查看详情" data-id="{%=item.AutoID%}">{%=item.Title%}</a></td>
    <td class="tLeft">{%=item.Type==1?"问题":item.Type==2?"建议":"需求"%}</td>
    <td class="tLeft">{%=(item.Content?item.Content.substring(0,50):'--')%}</td>
    <td class="tLeft">{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss")%}</td>   
    <td class="tLeft" width="10%">{%=item.Status==1?"待解决":item.Status==2?"已解决":item.Status==3?"驳回":"删除"%}</td>
</tr>
{% } %}
