
<ul class="create-model">
    <li style="line-height: 30px; ">
        <span style="display:block;" class="left width80">账号：</span>
        <span class="left">
            <input type="text" class="verify" data-empty="必填" maxlength="30" id="LoginName" />
        </span>
         <span style="display:block;" class="clear"></span>
    </li>
   <li class="nologinname">
        <span style="display:block;"  class="left width80">密码：</span>
        <span  class="left">
            <input type="password" id="LoginPWD" maxlength="25" class="input" />
       </span>  <br />
       <span  class="left" style="margin-left: 80px;">密码，6-25位，至少两种不同组合</span>
       <span style="display:block;" class="clear"></span>
    </li>
    <li class="nologinname">
        <span  class="left width80" style="display:block;">确认密码：</span>
        <span  class="left">
            <input type="password" id="LoginConfirmPWD" maxlength="25" class="input" />
        </span>
         <span style="display:block;" class="clear"></span>
    </li>
</ul>
