<div class="module-item">
    {%
    for(var i=0;i<$data.length;i++)
    {
        var item=$data[i];
        var mark=item.FinishStatus == 0 ? '0' : item.FinishStatus == 1 ? '1' : '2';
    %}
    <div class="item row {%=mark==1?'ing':mark==2?'end':''%}" style="display:table;width:100%;">
        <div style="display:table-cell;">
            <div style="height:30px;overflow:hidden;">{%=item.Title%}</div>
        </div>
        <div style="display:table-cell;text-align:right;width:160px;">{%=mark==1?'预计时间：'+item.EndTime.toDate('yyyy/MM/dd'):mark==2?'预计时间：'+item.EndTime.toDate('yyyy/MM/dd'):'未接受'%}</div>
    </div>
    {%}%}
    <div class="nodata-txt">订单未开始！</div>
</div>