<div class="module-item">
    {%
    console.log($data);
    for(var i=0;i<$data.length;i++)
    {
        var item=$data[i];
        console.log(item);
    %}
    {%}%}
    <div class="item row">
        <div class="left">找材料</div>
        <div class="right">未接受</div>
    </div>
    <div class="item row ing">
        <div class="left">裁剪</div>
        <div class="right">2016/9/23</div>
    </div>
    <div class="item row end">
        <div class="left">车缝</div>
        <div class="right">2016/9/26</div>
    </div>
    
</div>