@{
    ViewBag.Title = "活动详情";
}

@section css{
<link href="/modules/css/customer.css" rel="stylesheet" />
<link href="/modules/plug/umeditor/themes/default/css/umeditor.min.css" rel="stylesheet" />
<style type="text/css">
    /*描述*/
.edui-container { overflow:auto; line-height:25px; width:100% !important; border:none;}
</style>
}

@section scripts{
<script src="/modules/plug/laydate/laydate.js"></script>
<script type="text/javascript">
    seajs.use(["scripts/customer/activity"], function (ObjectJS) {
        ObjectJS.initDetail('@ViewBag.ActivityID');
    });
</script>
}

<div class="header-box">
    <span class="header-title left">活动详情</span>
    

    <div data-url="/Customer/Create/@ViewBag.ActivityID" data-id="101019001" data-name="新建客户" class="btn-add btn-open-window right">新建客户</div>
</div>

<div class="content-body">
    <table width="100%">
        <tr class="activityListLi">
            <td width="410">
                <div>
                    <img id="Poster" class="activityDetailImg" src="/modules/images/defaultactivity.jpg" onerror="javascript:this.src='/modules/images/defaultactivity.jpg';" />
                </div>
            </td>
            <td valign="top">
                <div class="activityDetailInfo mLeft30">
                    <table width="100%" class="activityInfoTB">
                        <tr>
                            <td colspan="2">
                                <span style="font-size:20px;color:#666;" class="left" id="Name"></span>
                                <a href="/Activity/Operate/@ViewBag.ActivityID" class="iconfont ico-edit left mTop5 mLeft20"></a>
                            </td>
                        </tr>
                        <tr>
                            <td width="60">负责人：</td>
                            <td><span class="activitymember member" id="OwnerName" style="color:#666;"></span></td>
                        </tr>
                         <tr>
                            <td>
                                时间：
                            </td>
                            <td><span id="BeginTime" style="color:#666;"></span><span style="color:#666;"> - </span><span id="EndTime" style="color:#666;"></span></td>
                        </tr>
                         <tr>
                            <td>成员：</td>
                            <td>
                                <ul id="MemberList"></ul>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">地址：</td>
                            <td><span id="Address" style="color:#666;"></span></td>
                        </tr>
                         <tr>
                            <td colspan="2">
                                @if (!string.IsNullOrEmpty(ViewBag.MDUserID))
                                {
                                    <div class="btn-share btn-share-md" id="btn_shareMD">分享到明道</div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
         </tr>
    </table>
</div>
<div class="tab-nav">
    <ul class="tab-nav-ul">
        <li class="hover" data-id="navRemark">评论</li>
        <li data-id="activityCustoms">客户列表</li>
        <li data-id="activityRemark">活动详情</li>
    </ul>
</div>
 <div class="content-body">
     <div id="navRemark" class="mTop20 talk-body nav-partdiv">
        <div class="content-main">
            <textarea id="txtContent" class="txt-content left"></textarea>
            <span class="btn btn-save" id="btnSaveTalk">提交</span>
        </div>
        <div class="talk-title"> 全部评论 </div>
         <table class="content-list" id="replyList">

         </table>
        <div id="pagerReply" class="mTop10"></div>
    </div>

    <div id="activityCustoms" class="hide nav-partdiv">
        <div class="table-box-list">
            <ul class="box-header">
                <li class="tLeft">客户名称</li>
                <li class="width50">类型</li>
                <li class="width100">状态</li>
                <li class="width100">联系人</li>
                <li class="width100">联系电话</li>     
                <li class="width100">负责人</li>
                <li class="width150">创建时间</li>
            </ul>
        </div>
        <div id="pager" class="mTop20"></div>
    </div>
        
    <div id="activityRemark" class="hide mTop15 nav-partdiv">
        <div class="edui-container">
            <div class="edui-editor-body">
                <div class="description  edui-body-container" id="Remark">
                </div>
            </div>
        </div>
    </div>
     <div class="clear"></div>
</div>
<input type="hidden" id="ActivityID" value="@ViewBag.ActivityID" />
<input type="hidden" id="OwnerID" value="" />
<input type="hidden" id="MemberID" value="" />
<input type="hidden" id="MDUserID" value="@ViewBag.MDUserID" />

