
<div class="left">
    <ul class="easydialog-create left" style="min-width: 320px;">
        <li>
            <span class="left width80">名称：</span>
            <input type="text" id="Name" class="input verify " data-empty="必填"/>
        </li>
        <li>
            <span class="left width80">达成条件：</span>
            当前积分< <input type="text" id="IntegFeeMore" style="width: 50px;" class="input verify " data-empty="必填"/>
        </li>
        <li>
            <span class="left width80">折扣：</span>
            <input type="text" id="DiscountFee" class="input verify " data-empty="必填"/>
        </li>
    </ul>
</div>
<div class="left">
    <img alt="" id="ImgUrl" style="width: 75px; height: 80px;"/>
    <span id="ImgUrlUpload"></span>
</div>
<div class="clear"></div>