
<ul class="easydialog-create">
    <li>
        <span class="left width80">名称：</span>
        <input type="text" id="modelName" maxlength="20" class="input verify " data-empty="必填" />
    </li>
    <li>
        <span class="left width80">编码：</span>
        <input type="text" id="modelCode" maxlength="20" class="input verify " data-empty="必填" />
    </li>
    <li>
        <span class="left width80" style="display: none;">类型：</span>
        <label class="hide check"><input type="checkbox" class="mRight5 middle" id="isChoose"/>新建客户允许选择</label>
    </li>
    <li>
        <span class="red left width80">注意事项：</span>
        <label class="red check">新增成功后编码不能修改,请仔细填写</label>
    </li>
</ul>