@{
    ViewBag.Title = "客户来源统计";
}

<style type="text/css">
    .source-box { height:400px; }
</style>

 <link href="/modules/plug/daterangepicker/daterangepicker.css" rel="stylesheet" />
@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script> 
    <script type="text/javascript"> 

        seajs.use(["scripts/customerrpt/sourcerpt"], function (obj) {
            obj.init();
        });
    </script>
} 

<div class="tab-nav">
    <ul class="tab-nav-ul left">
        <li data-id="sourceRPT" data-type="" class="hover">客户来源比例</li>
        <li data-id="sourceDateRPT" data-type="3">按月统计</li>
        <li data-id="sourceDateRPT" data-type="4">按周统计</li>
        <li data-id="sourceDateRPT" data-type="5">按日统计</li>
    </ul>
    
</div>
<div class="mTop20 mLeft20">
        <div class="left" id="chooseBranch"></div>
         <input type="text" id="iptCreateTime" placeholder="客户创建日期" class="ipt-date"  /> 
    </div> 
<div class="content-body mTop20">
   
    <div id="sourceRPT" class="source-box">

    </div>
    <div id="sourceDateRPT" class="source-box">

    </div>
</div>

