{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="list-item">
    <td>
        <a class="btn-open-window" data-url="/Products/ChooseDetail?pid={%=item.ProductID%}&did={%=item.ProductDetailID%}" href="javascript:void(0);" data-name="产品详情页-{%=item.ProductName%}" data-id="{%=item.ProductID%}">{%=item.ProductCode%}</a>
    </td>
    <td>
         <a class="btn-open-window" data-url="/Products/ChooseDetail?pid={%=item.ProductID%}&did={%=item.ProductDetailID%}" href="javascript:void(0);" data-name="产品详情页-{%=item.ProductName%}" data-id="{%=item.ProductID%}">{%=item.ProductName%}</a>
    </td>
    <td>{%=item.Remark%}</td>
    <td>{%=item.WareName%}</td>
    <td>{%=item.DepotCode%}</td>
    <td class="center">{%=item.StockIn%}</td>
    <td class="center">{%=item.StockOut%}</td>
    <td class="center">{%=item.StockIn-item.StockOut%}</td>
</tr>
{% } %}
