{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="item-header">
    <td class="tLeft bolder">
        <span class="hand left mRight10" ><span class="checkbox iconfont " data-code="{%=item.DocCode%}" data-id="{%=item.DocID%}" style="height: 14px; width: 14px;"></span></span> 
        <span class="left">采购单号：{%=item.DocCode%}</span>
        <span class="clear"></span>
    </td> 
    <td class="tLeft bolder">
        供应商：{%=item.ProviderName||"--"%}
    </td>
    <td>采购价</td>
    <td>数量</td>
    <td>入库数量</td>
    <td>总金额</td>
    <td>已采购金额</td>
    <td class="bolder">
        采购员：{%=item.UserName%}
    </td>
    <td class="bolder {%=(item.Status<2 || item.Status ==3)?'red dropdown':''%}" data-status="{%=item.Status%}" data-url="/Purchase/DocDetail/{%=item.DocID%}" data-id="{%=item.DocID%}">
        {%= item.StatusStr%}
        <span class="right mTop2 {%=(item.Status <2|| item.Status ==3)? 'ico-dropdown':''%}"></span>
    </td>
</tr>
    {%
	    for(var ii=0, jj=item.Details.length; ii < jj; ii++){
	    var model = item.Details[ii];
    %}
        <tr class="item {%=ii==jj-1?'last':''%}">
            <td class="tLeft bBottom">
                <a class="btn-open-window" data-url="/Products/ChooseDetail?pid={%=model.ProductID%}&did={%=model.ProductDetailID%}" href="javascript:void(0);" data-name="产品详情页-{%=model.ProductName%}" data-id="{%=model.ProductID%}">
                    {%=model.ProductName%}
                </a>
            </td>
            <td class="tLeft bBottom">
                {%=model.Remark%}
            </td>
            <td class="bBottom">
                {%=model.Price.toFixed(2)%}
            </td>
            <td class="bBottom">
                {%=model.Quantity%}
            </td>
            <td class="bBottom bRight">
                {%=model.Complete%}
            </td>
            {%if(ii==0){ %}
                <td rowspan="{%= jj %}" class="bRight bBottom">
                    {%= item.TotalMoney.toFixed(2)%}
                </td>
                <td rowspan="{%= jj %}" class="bRight bBottom">
                    {%= item.RealMoney.toFixed(2)%}
                </td>
                <td rowspan="{%= jj %}" class="bRight bBottom">
                    {%=item.CreateTime.toDate("yyyy-MM-dd")%}
                 </td>
                 <td rowspan="{%= jj %}" class="bRight bBottom">
                     <a href="javascript:void(0)" class="btn-open-window" data-url="/Purchase/DocDetail/{%=item.DocID%}" data-id="{%=item.DocID%}" data-name="采购单详情-{%=item.DocCode%}">
                        查看详情
                    </a>
                 </td>
            {% } %}
            
        </tr>
    {% } %}
  <tr class="line-item">
    <td colspan="10"></td>
  </tr>  
{% } %}
