{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<ul class="box-item">
    <li class="tLeft width150">
        <a href="javascript:void(0)" class="btn-open-window" data-url="/Purchase/DocDetail/{%=item.DocID%}" data-id="{%=item.DocID%}" data-name="采购单详情-{%=item.DocCode%}">{%=item.DocCode%}</a>
    </li>
    <li class="tLeft width100">
        {%=item.WareName||"--"%}
    </li>
    <li class="tLeft width150">
        {%=item.ProviderName.subString(12)||"--"%}
    </li>
    <li class="width100 {%=item.Status<2?'red':''%}">
        {%=item.StatusStr%}
    </li>
    <li class="tRight width100">
        {%=item.TotalMoney.toFixed(2)%}
    </li>
    <li class="tRight width100">
        {%=item.RealMoney.toFixed(2)%}
    </li>
    <li class="width100">
        {%=item.UserName||"--"%}
    </li>
    <li class="width100">
        {%=item.CreateTime.toDate("yyyy-MM-dd")%}
    </li>
</ul>
{% } %}
