{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="line-item">
    <td colspan="10"></td>
</tr>
<tr class="item-header">
    <td class="tLeft bolder">
        入库单号：{%=item.DocCode%}
    </td>
    <td class="tLeft">规格</td>
    <td>到货数量</td>
    <td>实收数量</td>
    <td>入库日期</td>
    <td>操作员人</td> 
</tr>
    {%
	    for(var ii=0, jj=item.Details.length; ii < jj; ii++){
	    var model = item.Details[ii];
    %}
        <tr class="item {%=ii==jj-1?'last':''%}">
            <td class="tLeft bBottom">
                <a class="btn-open-window" data-url="/Products/ChooseDetail?pid={%=model.ProductID%}&did={%=model.ProductDetailID%}" href="javascript:void(0);" data-name="产品详情页-{%=model.ProductName%}" data-id="{%=model.ProductID%}">
                    {%=model.ProductName%}
                </a>
            </td>
            <td class="tLeft bBottom">
                {%=model.Remark%}
            </td>
            <td class="tLeft bBottom">
                {%=model.Quantity%}
            </td>
            <td class="bBottom bRight">
                {%=(item.Status==0?'0':model.Complete)%} 
            </td>
            {%if(ii==0){ %}
                <td rowspan="{%= jj %}" class="bRight bBottom">
                   {%=item.CreateTime.toDate("yyyy-MM-dd")%}
                </td>
                <td rowspan="{%= jj %}" class="uname  bBottom">
                    <a class="center pTop5" style="display: inline-block">{%= item.UserName%} </a>
                    {%if(item.Status==0){ %}
                    <a class="btn shenhe right" style="color: white;" data-did="{%=model.DocID%}"   >审核</a>
                    {%}%}
                    <a class="clear"></a>
                </td>
            {% } %}
        </tr>
    {% } %}
    
{% } %}
