@{
    ViewBag.Title = "客户配置";
}
@section css{
    <link href="/modules/css/system.css" rel="stylesheet"/> 
    <link href="/modules/plug/choosecolor/spectrum.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/system/sources"], function (obj) {
            obj.init();
        });
    </script>
}
<div class="header-box">
    <div class="header-title left">客户配置</div>
    <div class="btn-add right @(ExpandClass.IsLimits(HttpContext.Current, "108020101"))" id="createModel">新建来源</div>
    <div class="btn-add right" style="display:none;" id="createColor">新建标签</div>

</div>
<div  class="header-mark">
    <div class="" style="background-color: #fff; width: 100%">
        <span id="movespan" class="movespan"></span>
        <ul class="sourceul left">
            <li data-id="sourceList" data-index="1" class="active left ">
                <a href="javascript:void(0);">来源设置</a>
            </li>
            <li class="left " data-id="colorList" data-index="2"> <a href="javascript:void(0);">标签配置</a> </li>
        </ul>
    </div>
</div>
<div class="content-body " id="sourceList">
    
    <table class="table-list">
        <tr class="tr-header">
            <td class="tLeft">名称</td>
            <td class="tLeft">编码</td>
            @*<td class="width150">是否允许选择</td>*@
            <td class="width150">创建时间</td>
            <td class="width150">创建人</td>
            <td class="width80">操作</td>
        </tr>
    </table>
</div>
<div class="content-body hide mTop20" id="colorList">
    <ul class="color-list mTop5" id="colorItem"> 
    </ul>
</div>
<ul class="dropdown-ul hide" style="width: 65px;">
    <li class="@(ExpandClass.IsLimits(HttpContext.Current, "108020101"))" id="updateObject">编辑</li>
    <li class="@(ExpandClass.IsLimits(HttpContext.Current, "108020102"))" id="deleteObject">删除</li>
</ul>
<ul class="colordrop dropdown-ul hide"  style="width:65px;">
    <li  id="updateColor">编辑</li>
    <li  id="deleteColor">删除</li>
</ul>