@{
    ViewBag.Title = "客户列表";
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/clients"], function (client) {
            client.init();
        });
    </script>
}

<div class="header-box">
    <span class="left header-title">客户列表</span>
    <div class="right searth-module"> </div>
</div>

<div class="content-body">
    <table class="table-list">
        <tr class="tr-header" id="client-header">
           
            <td class="tLeft">公司名称</td>
            <td class="tLeft">联系人</td>
            <td class="tLeft">移动电话</td>
            <td class="tLeft">行业</td>
            <td class="tLeft">省份城市</td>
            <td class="tLeft">详细地址</td>
            <td class="tLeft">备注</td>
            <td class="tLeft">注册日期</td>
            <td class="tLeft" width="10%">操作</td>
        </tr>
    </table>

    <div id="pager" class="mTop20"></div>
</div>

