@{
    ViewBag.Title = "产品类别设置";
}
<link href="/modules/css/products.css" rel="stylesheet" />

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/products/category"], function (category) {
            category.init('@(ViewBag.Type)');
        });
    </script>
}
<div class="content-body">
    <div class="category-header">
        全部分类
        <a href="javascript:void(0)" class="category-add">添加子类</a>
    </div>
    <div id="categoryBox" class="category-box">

    </div>
</div>
