@{
    ViewBag.Title = "供应商管理";
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/products/providers"], function (obj) {
            obj.init();
        });
    </script>
}
<div class="header-box">
    <span class="header-title left"></span>
    <div  class="btn-add right @(ExpandClass.IsLimits(HttpContext.Current,"103020301"))" id="addObject">新建供应商</div>
    
</div>
<div class="search-header">
    <div class="right searth-module"> </div> 
</div>
<div class="search-body">
    <div class="search-item">
        <div class="name">类型</div>
        <ul class="search-type">
            <li data-id="-1" class="hover">全部</li>
            <li data-id="0">普通</li>
            <li data-id="1">工厂</li>
            <li data-id="2">店铺</li>
        </ul>
    </div>
</div>
<div class="content-body">
    <table class="table-list mTop10">
        <tr class="tr-header">
            <td class="tLeft width300">名称</td>
            <td class="width100 tLeft">联系人</td>
            <td class="width100 tLeft">联系方式</td>
            <td class="width200">城市</td>
            <td class="tLeft">详细地址</td>
            <td class="width150">添加时间</td>
            <td class="width50">操作</td>
        </tr>
    </table>
    <div id="pager" class="mTop20"></div>
</div>
