@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@section css{
    <link href="/modules/css/product/list.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use("/modules/scripts/myaccount/historyorder", function (obj) {
            obj.init();
        });
    </script>
}
<div class="product-items">

</div>
