@section css{
    <link href="/modules/css/myaccount/index.css" rel="stylesheet" />
}
@section scripts{
    
}
<div class="account-list">
    <a  class="center hand" style="background-color:#ff6a00;height:50px;line-height:50px;color:#fff;display:block;" href="/MyAccount/HistoryOrder">历史订单</a>
    <a  class="center hand" style="background-color:#ff0000;height:50px;line-height:50px;color:#fff;display:block;" href="/MyAccount/OrderStatusList">订单列表</a>
</div>