@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="">
    <table class="table-list">
        <tr class="tr-header">
            <td>订单图片</td>
            <td>快递单号</td>
            <td>订单状态</td>
            <td>下单数量</td>
            <td>发货数量</td>
            <td>操作</td>
        </tr>
        <tr>
            <td class="center"><img src="/modules/images/defaultavatar.png" /></td>
            <td class="center">101123231315887450</td>
            <td class="center" style="color:red;">生产中</td>
            <td class="center">200</td>
            <td class="center">30</td>
            <td class="center">
                <p style="background-color:red;padding:4px 5px;color:#fff;border-radius:10px;width:80px;margin:10px auto;">退货</p>
                <p style="background-color:#4a98e7;padding:4px 5px;color:#fff;border-radius:10px;width:80px;margin:10px auto;">收货</p>
            </td>
        </tr>
    </table>
</div>