@{
    
}
@section css{
    <link href="/modules/css/stock.css" rel="stylesheet" />
    <link href="/modules/plug/daterangepicker/daterangepicker.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/purchase/purchases"], function (obj) {
            obj.init('@ViewBag.Type', '@Html.ToJSONString((List<CloudSalesEntity.ProvidersEntity>)ViewBag.Providers)');@**@
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">采购管理</span>
    <div id="btnSubmit" data-id="103029001" data-name="新建采购" data-url="/Purchase/ConfirmPurchase" class="btn mLeft10 btn-open-window right">提交采购单(0)</div>
    <div id="btnCreate" data-id="103029001" data-name="新建采购" data-url="/Purchase/ChooseProducts" class="btn-add btn-open-window right">选择采购产品</div>
</div>
<div class="search-header">
    <div id="ddlProviders" class="left">

    </div>
    <div class="left mLeft10" title="采购日期">
        <input type="text" id="iptCreateTime" placeholder="采购日期" class="ipt-date"/>
    </div>
    <div class="right searth-module" data-text="关键字搜索..." data-width="160"> </div> 
</div>
<div class="search-body">
    <div class="search-item">
        <div class="name">状态</div>
        <ul class="search-status">
            <li data-id="-1" class="hover">全部</li>
            <li data-id="0" class="">待审核</li>
            <li data-id="1" class="">部分入库</li>
            <li data-id="2" class="">已入库</li>
            <li data-id="4" class="">已作废</li>
        </ul>
    </div>
   <div class="search-item">
        <div class="name">仓库</div>
        <ul class="search-wares">
            <li data-id="" class="hover">全部</li>
            @foreach (var item in (List<CloudSalesEntity.WareHouse>)ViewBag.Wares)
            { 
                <li data-id="@(item.WareID)">@(item.Name)</li>
            }
        </ul>
    </div>
</div>
<div class="content-body mTop20">
    <div class="table-box-list">
        <ul class="box-header">
            <li class="tLeft width150">采购单号</li>
            <li class="tLeft width100">仓库</li>
            <li class="tLeft width150">供应商</li>
            <li class="width100">状态</li>
            <li class="tRight width100">订单总额</li>
            <li class="tRight width100">已入库金额</li>
            <li class="width100">采购员</li>
            <li class="width100">采购日期</li>
        </ul>
    </div>
    <div class="mTop20" id="pager"></div>
    <div class="clear"></div>
</div>
