@{
    ViewBag.Title = "意见反馈";
    Layout = "/Views/Shared/_LayoutUserCenter.cshtml";
}
@section css{
        <link href="/modules/css/myaccount/myaccount.css" rel="stylesheet" /> 
}
@section scripts{
<script src="/Scripts/jquery-1.11.1.js"></script>
<script src="/modules/plug/laydate/laydate.js"></script>
    <script type="text/javascript">
        var feedbacks;
        seajs.use(["scripts/myaccount/myfeedback"], function (feedback) {
            feedback.init();
            feedbacks = feedback;
        });
        
        $(function () {
            var begin = {
                elem: '#BeginTime',
                format: 'YYYY-MM-DD',
                max: '2099-06-16',
                istime: false,
                istoday: false,
                choose: function (datas) {
                    end.min = datas; //开始日选好后，重置结束日的最小日期
                    end.start = datas //将结束日的初始值设定为开始日
                }
            };

            var end = {
                elem: '#EndTime',
                format: 'YYYY-MM-DD',
                max: '2099-06-16',
                istime: false,
                istoday: false,
                choose: function (datas) {
                    begin.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };
            laydate(begin);
            laydate(end);
        });
    </script>
}
<div class="accountContent">
<div class="content-body">
    <div class="accountsearch-body">

        <div class="left mLeft5">
            <span class="width80">创建时间：</span><input type="text" id="BeginTime"  class="input"  />
            <span style="padding:0px 5px 0px 3px;">至</span><input type="text" id="EndTime"  class="input"  />
            <span class="btn mLeft10" id="SearchFeedBacks">搜索</span>

        </div>
         <a class="btn right mLeft20 ico-feedback" href="#">新建反馈</a>
        <div class="right searth-module" data-text="输入关键字..." data-width="150"></div>
        <div class="clear"></div>
    </div>

    <table class="table-list">
        <tr class="tr-header">            
            <td class="tLeft">标题</td>
            <td class="tLeft">类型</td>
            <td class="tLeft">解答</td>
            <td class="tLeft">创建时间</td>           
            <td class="tLeft" width="10%">状态</td>
        </tr>
    </table>

     <div id="pager" class="mTop20"></div>
</div>
</div>