@{
    ViewBag.Title = "个人中心";
    var user = (CloudSalesEntity.Users)ViewBag.baseUser;
    var WeiXinID=ViewBag.WeiXinID;
}
@section css{
    <link href="/modules/m/css/style/list.css" rel="stylesheet" />
}

@section scripts{

}
<div class="account-header">
    <div class="account-avator center">
        <img onerror="this.src='/modules/images/defaultavatar.png'" src="@(!string.IsNullOrEmpty(user.Avatar)?user.Avatar:"/modules/images/defaultavatar.png")" style="width:100px;height:100px;border-radius:50%;" />
    </div>
    <div class="account-name center" style="color:#fff;font-size:24px;margin-top:20px;">
        @user.Name
    </div>
</div>
<div class="module-items">
    <ul>
        <li>
            <a href="/M/Home/ChooseProvider" style="display:block;">
                <span class="mLeft5 left">&nbsp;已关注店铺</span>
                <span class="iconfont right mRight10">&#xe653;</span>
                <div class="clear"></div>
            </a>
        </li>
        @{
            if (string.IsNullOrEmpty(WeiXinID))
            {
        <li><a href="/m/account/WeiXinLogin" style="display:block;" ><span class="mLeft10">绑定微信</span></a></li>
        }
        else{
             <li><span style="display:block;" class="mLeft10">已绑定微信</span></li>
            }
        }
    </ul>
</div>
<div class="center" style="margin-top:80px;padding-bottom:20px;">
    <a href="/Home/Logout" class="exit-sys">退出</a>
</div>
@{Html.RenderPartial("Footer");}
