
<ul class="easydialog-create">
    <li>
        <span class="width80">分类名称：</span>
        <span>
            <input type="text" class="verify" data-empty="必填" maxlength="20" id="categoryName" />
        </span>
    </li>
    <li>
        <span class="width80">分类编码：</span>
        <span>
            <input type="text" class="verify" data-empty="必填" maxlength="20" id="categoryCode" />
        </span>
    </li>
    <li>
        <span class="width80">属性/参数：</span>
        <span style="max-width:500px; height:auto;" id="attrList">
            {%
	            for(var i=0, j=$data.length; i < j; i++){
	            var item = $data[i];
            %}
            <span class="checked hand" data-type="1" title="{%=item.Description%}" data-name="{%=item.AttrName%}" data-id="{%=item.AttrID%}">
                <span class="iconfont checkbox mTop3" data-id="{%=item.AttrID%}" data-name="{%=item.AttrName%}"></span>
                <span class="width80 long">{%=item.AttrName+(item.Description?"【"+item.Description+"】":"")%}</span> 
            </span>
            {% } %}
        </span>
    </li>
    <li>
        <span class="width80">产品规格1：</span>
        <select id="saleAttr1">
             <option value="-1">请选择</option>
             {%
	            for(var i=0, j=$data.length; i < j; i++){
	            var item = $data[i];
            %}
                <option value="{%=item.AttrID%}" data-name="{%=item.AttrName%}">{%=item.AttrName+(item.Description?"【"+item.Description+"】":"")%}</option>
            {% } %}
         </select>
    </li>
     <li>
        <span class="width80">产品规格2：</span>
        <select id="saleAttr2">
            <option value="-1">请选择</option>
             {%
	            for(var i=0, j=$data.length; i < j; i++){
	            var item = $data[i];
            %}
                <option value="{%=item.AttrID%}" data-name="{%=item.AttrName%}">{%=item.AttrName+(item.Description?"【"+item.Description+"】":"")%}</option>
            {% } %}
         </select>
    </li>
    <li>
        <span class="width80">状态：</span>
        <span class="hand">
            <span class="iconfont checkbox mTop3 hover" id="categoryStatus"></span>&nbsp;&nbsp;启用
        </span>
    </li>
    <li>
        <span class="width80">描述：</span>
        <textarea id="description"></textarea>
    </li>
</ul>
