
{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<div class="category-item">
    <div class="left-box"></div>
    <span class="{%=(i==$data.length-1)?'lastline':'leftline'%} left"></span>
    <span data-id="{%=item.CategoryID%}" data-eq="{%=(i==$data.length-1)?'last':''%}" data-state="close" class="left openspan {%=(item.ChildCategorys&&item.ChildCategorys.length>0)?'icoopen openchild':''%} "></span>
    <span class="left category {%=item.Status==1?'':'close'%}">{%=item.CategoryName%}</span>
    <a class="category-edit" data-id="{%=item.CategoryID%}" href="javascript:void(0)">编辑</a>
    <a class="category-add" data-id="{%=item.CategoryID%}" href="javascript:void(0)">添加子类</a>
    <a class="btn-open-window" data-id="103010500" data-name="添加产品" data-url="/Products/ProductAdd/{%=item.CategoryID%}" href="javascript:void(0)">添加产品</a>
    <a class="category-del" data-id="{%=item.CategoryID%}" href="javascript:void(0)">删除</a>
</div>
{% } %}

