
<ul class="easydialog-create">
    <li>
        <span class="width80">分类名称：</span>
        <span>
            <input type="text" class="verify" data-empty="必填" maxlength="20" id="categoryName" />
        </span>
    </li>
    <li>
        <span class="width80">分类编码：</span>
        <span>
            <input type="text" class="verify" data-empty="必填" maxlength="20" id="categoryCode" />
        </span>
    </li>
    <li>
        <span class="width80">产品属性：</span>
        <span style="max-width:500px; height:auto;" id="attrList">
            {%
	            for(var i=0, j=$data.length; i < j; i++){
	            var item = $data[i];
            %}
            <span class="width80 long checked hand" title="{%=item.Description%}" data-id="{%=item.AttrID%}">
                <span class="iconfont checkbox mTop3" data-id="{%=item.AttrID%}"></span>&nbsp;&nbsp;{%=item.AttrName%}
            </span>
            {% } %}
        </span>
    </li>
    <li>
        <span class="width80">产品规格：</span>
        <span style="max-width:500px; height:auto;" id="saleAttr">
            {%
	            for(var i=0, j=$data.length; i < j; i++){
	            var item = $data[i];
            %}
            <span class="width80 long checked hand" title="{%=item.Description%}" data-id="{%=item.AttrID%}">
                <span class="iconfont checkbox mTop3" data-id="{%=item.AttrID%}"></span>&nbsp;&nbsp;{%=item.AttrName%}
            </span>
            {% } %}
        </span>
    </li>
    <li>
        <span class="width80">状态：</span>
        <span class="hand">
            <span class="iconfont checkbox mTop3 hover" id="categoryStatus"></span>&nbsp;&nbsp;启用
        </span>
    </li>
    <li>
        <span class="width80">描述：</span>
        <textarea id="description"></textarea>
    </li>
</ul>
