@{
    
}
@section css{
    <link href="/modules/plug/daterangepicker/daterangepicker.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/sales/orders"], function (ObjectJS) {
            ObjectJS.init('@ViewBag.Type');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">@ViewBag.Title</span>
    <a href="javascript:void(0)"  id="createOrder" class="btn-add right">新建订单</a>
</div>
<div class="search-header">
    <div class="left mRight20" id="chooseBranch"></div>
    <div class="left" title="创建时间">
        <input type="text" id="iptCreateTime" placeholder="创建时间" class="ipt-date"  />
    </div>
    <div class="btn-filter right"></div>
    <div class="right searth-module mRight20" data-text="关键字搜索..." data-width="160"> </div>
</div>

<div class="search-body">
    <div class="search-item">
        <div class="name">状态</div>
        <ul class="search-status">
            <li data-id="-1" class="hover">全部订单</li>
            <li data-id="1" class="">待审核</li>
            <li data-id="2" class="">已审核</li>
            <li data-id="3" class="">已退单</li>
        </ul>
    </div>
    <div class="search-item">
        <div class="name">退货状态</div>
        <ul class="search-returnstatus">
            <li data-id="-1">全部</li>
            <li data-id="0" class="hover">正常</li>
            <li data-id="1">申请退货</li>
            <li data-id="2">部分退货</li>
            <li data-id="3">已退货</li>
        </ul>
    </div>
    <div class="search-item">
        <div class="name">订单类型</div>
        <ul id="orderType">
            <li data-id="" class="hover">全部</li>
        </ul>
    </div>
    <div class="search-item">
        <div class="name">付款状态</div>
        <ul id="payStatus">
            <li data-id="-1" class="hover">全部</li>
            <li data-id="0" class="">未付款</li>
            <li data-id="1" class="">部分付款</li>
            <li data-id="2" class="">已付款</li>
        </ul>
    </div>
    <div class="search-item">
        <div class="name">开票状态</div>
        <ul id="invoiceStatus">
            <li data-id="-1" class="hover">全部</li>
            <li data-id="0" class="">未开票</li>
            <li data-id="1" class="">已申请</li>
            <li data-id="2" class="">已开票</li>
        </ul>
    </div>
</div>
<ul class="search-sort">
    <li>排序</li>
    <li class="sort-item hover" data-column="o.CreateTime">
        创建时间
        <span class="asc"></span>
        <span class="desc hover"></span>
    </li>
    <li class="sort-item" data-column="o.AuditTime">
        审核时间
        <span class="asc"></span>
        <span class="desc"></span>
    </li>
    <li class="sort-item" data-column="o.TotalMoney">
        金额
        <span class="asc"></span>
        <span class="desc"></span>
    </li>
</ul>
<div class="content-body">
    <table class="table-list">
        <tr class="tr-header">
            <td class="width30"></td>
            <td class="tLeft width150">订单编号</td>
            <td class="width100">订单类型</td>
            <td class="width80">状态</td>
            <td class="width80 tRight">总金额</td>
            <td class="minwidth70">客户名称</td>
            <td class="width100">联系人</td>
            <td class="width100">联系电话</td>     
            <td class="width100">负责人</td>
            <td class="width100">发货状态</td>
            <td class="width150">创建时间</td>
        </tr>
    </table>
    <ul class="left batch-operate mTop20">
        <li class="width100 mTop5">
            <span class="ico-check pLeft5" id="checkAll">批量操作</span>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn @(ExpandClass.IsLimits(HttpContext.Current,"102019004"))" id="batchChangeOwner">更换负责人</a>
        </li>
    </ul>
    <div id="pager" class="mTop20"></div>
</div>

