@section css{
    <link href="~/modules/css/product/list.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use("/modules/scripts/products/product", function (obj) {
            obj.init();
        });
    </script>
}
<div class="product-items">
    <div class="product-box">
        <div class="product-img left">
            <a href="/Product/Detail">
                <img src="/modules/images/defaultavatar.png" />
            </a>
        </div>
        <div class="product-info left mLeft10">
            <ul>
                <li class="long">描述信息</li>
                <li>
                    <p>100-150(下单量价位表)</p>
                    <p>150-300(下单量价位表)</p>
                    <p>300以上(下单量价位表)</p>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
