@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductsLists</title>
    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="/modules/css/layout.css" rel="stylesheet" />
    <link href="/modules/css/iconfont/iconfont.css" rel="stylesheet" />
    <link href="/modules/css/product/product.css" rel="stylesheet" />

    <script src="/modules/scripts/font.js"></script>
    <script src="/Scripts/sea.js"></script>
    <script src="/Scripts/sea-config.js"></script>
    <script type="text/javascript">
        seajs.use("/modules/scripts/products/product", function (obj) {
            obj.init();
        });
    </script>
</head>
<body>
    <div class="main-body" id="upAndDownModule">
        <header class="center">
            <div class="left">1</div>
            <div class="right">
                <div class="mTop10 mRight30">
                    <div class="user-avatar left mRight20"><img src="/modules/images/defaultavatar.png" /></div>
                    <div class="iconfont left user-nav">&#xe60d;</div>
                    <div class="clear"></div>
                </div>
            </div>
            样衣中心
            <div class="clear"></div>
        </header>
        <div class="main-content">
        </div>
        <footer>
            <ul class="main-module">
                <li>样衣</li>
                <li>客户</li>
                <li>订单</li>
                <li>我的</li>
            </ul>
        </footer>
    </div>
    
</body>
</html>