.add-shopping { background-color:#4a98e7;color:#fff;width:180px;height:60px;line-height:60px;text-align:center;border:1px solid #4a98bb;}
.ico-shopping { background-color:#ff6a00;color:#fff;width:60px;height:60px;text-align:center;line-height:60px;font-size:30px;border-radius:50%;
                position:fixed;right:40px;bottom:120px;}
.img-box img { width:100%;height:100px;}
.model-box {display:-webkit-box;display:-moz-box; }
.model-box .describe {width:120px;}
.model-box .content-box {-webkit-box-flex:1;}
.product-list {min-height:80px;line-height:80px;border-top:1px solid #ccc;width:100%;position:fixed;bottom:0;left:0;background-color:#fff;}
.menu-module { background-color:#6699cc;color:#fff;padding:10px;border:1px solid #ccc;border-bottom:none;}
.menu-module.hover { background-color:#fff;color:#6699cc;}
.content-main { border:1px solid #ccc;min-height:100px;}
.plate-info .table-list tr td { text-align:center !important;}
.plate-info .table-list tr td:last-child { display:none;}
.color-item { background-color:#fff;border:1px solid #ccc;padding:4px 6px;text-align:center;margin-right:10px;min-width:80px;margin-bottom:10px;}
.color-item.hover { background-color:#ff6a00;color:#fff;}