@{
    ViewBag.Title = "订单列表";    
}
@section css{
    <link href="/modules/m/css/style/list.css" rel="stylesheet" />    
}
@section scripts{
    <script type="text/javascript">
        seajs.use("/modules/m/scripts/style/orders.js", function (data) {
            data.init(
                '@Html.ToJSONString((CloudSalesEntity.Users)ViewBag.baseUser)'
            );
        });
    </script>
}
<div class="shade"></div>
<div class="search"> 
    <div class="search-box">
        <span class="iconfont">&#xe605;</span>
        <input type="text" class="txt-search" placeholder="请输入款式名称搜索" />
    </div>
    <div class="btn-search">确定</div>
</div>
<div class="topbar">
    <ul class="header">
        <li class="btn-menu header-li">
            <div class="iconfont iconfont-menu">&#xe60d;</div>
            <span class="login-name long"></span>
            <ul class="menu-box">
                <li>
                    <a href="/Home/Logout">退出</a>
                </li>
            </ul>
        </li>
        <li class="header-li li-task-filtertype">
            <div class="btn-task-filtertype">
            <div class="left font16">全部</div>
            <div class="iconfont left">&#xe61c;</div>
            <ul class="task-filtertype">
                <li data-id="-1">全部</li>
                <li data-id="0">待审核</li>
                <li data-id="3">待处理</li>
                <li data-id="1">部分入库</li>
                <li data-id="2">已入库</li>
            </ul>
            </div>
        </li>
        <li class="header-li  btnsearch" style="margin-top:10px;">
            <div class="iconfont iconfont-search">&#xe605;</div>
        </li>
    </ul>
    @*<ul class="filter-task">
        <li class="type" data-id="order-type">
            <a class="type-span">订单类型</a>
            <i class="iconfont-select iconfont">&#xe61c;</i>
        </li>
        <li class="type" data-id="task-colormark">
            <a class="colormark-span">颜色标记</a>
            <i class="iconfont-select iconfont">&#xe61c;</i>
        </li>
        <li class="select-sort" data-id="task-sort" style="border-right:none;width:34%">
            <a class="sort-span">排序</a>        
            <i class="iconfont-select iconfont">&#xe61c;</i>    
        </li> 
        <div class="clear"></div>
    </ul>*@
    <div class="dropdownlist"> 
        <ul class="potion order-type">             
            <li data-id="-1">全部</li>                 
            <li data-id="1">打样</li>
            <li data-id="2">大货</li>                        
        </ul>
        <ul class="potion task-colormark">             
            <li data-id="-1">全部</li>                                  
        </ul>   
        <ul class="potion task-sort">                                        
            <li class="tasktime" data-takepo="1" data-id="1">到期时间正序</li>
            <li class="tasktime" data-takepo="0" data-id="1">到期时间倒序</li>
            <li class="tasktime" data-takepo="1" data-id="0">创建时间正序</li>
            <li class="tasktime" data-takepo="0" data-id="0">创建时间倒序</li>
        </ul>  
    </div>
</div>
<div class="list"></div>
<ul class="task-status">
    <li data-status="0">
        <a href="../Home/Index">
            <div class="ico-status iconfont">&#xe61e;</div>
            款式
        </a>
    </li>
    <li data-status="1" class="hover">
        <a href="../Orders/List">
            <div class="ico-status iconfont">&#xe621;</div>
            订单
        </a>
    </li>
    <li data-status="2" style="width:34%;">
        <a href="../Account/Index">
            <div class="ico-status iconfont">&#xe61f;</div>
            我的
        </a>
    </li>
    <div class="clear"></div>
</ul>