@{
    ViewBag.Title = "订单列表";    
}
@section css{
    <link href="/modules/m/css/style/list.css" rel="stylesheet" />    
}
@section scripts{
    <script type="text/javascript">
        seajs.use("/modules/m/scripts/style/orders.js", function (data) {
            data.init(
                '@Html.ToJSONString((CloudSalesEntity.Users)ViewBag.baseUser)'
            );
        });
    </script>
}
<div class="shade"></div>
<div class="search"> 
    <div class="search-box">
        <span class="iconfont">&#xe605;</span>
        <input type="text" class="txt-search" placeholder="请输入款式名称搜索" />
    </div>
    <div class="btn-search">确定</div>

</div>
<div class="topbar">
    <div class="header">
        <div class="header-li li-task-filtertype">
            <div class="btn-task-filtertype">
            <div class="font16">状态-全部</div>
            <div class="iconfont">&#xe61c;</div>
            <ul class="task-filtertype">
                <li data-id="-1">全部</li>
                <li data-id="0">待审核</li>
                <li data-id="3">待处理</li>
                <li data-id="1">部分入库</li>
                <li data-id="2">已入库</li>
            </ul>
            </div>
        </div>
        <div class="btnsearch">
            <div class="iconfont iconfont-search">&#xe605;</div>
        </div>
    </div>
</div>
<div class="list" style="margin-top:60px;"></div>
<ul class="task-status">
    <li data-status="0">
        <a href="../Home/Index">
            <div class="ico-status iconfont">&#xe64e;</div>
            款式
        </a>
    </li>
    <li data-status="1">
        <a href="../Orders/List">
            <div class="ico-status iconfont">&#xe629;</div>
            订单
        </a>
    </li>
    <li data-status="2" class="hover" style="width:34%;">
        <a href="../Account/Index">
            <div class="ico-status iconfont">&#xe601;</div>
            我的
        </a>
    </li>
    <div class="clear"></div>
</ul>