
/*头部搜索*/
.choosecustomer-header { margin-bottom: 10px; }
.choosecustomer-header input{ height:35px !important; line-height:35px !important; border-radius:5px; }
.choosecustomer-header .dropdown-ico{ top:5px !important; }

/**/
.choosecustomer-body { width:700px; overflow:auto; min-height:300px; border-bottom:solid 1px #ccc; padding-bottom:15px; margin-bottom:15px;  }

