@{
    ViewBag.Title="店铺中心";
    var v = DateTime.Now.Ticks;
}
@section css{
    <link href="/modules/m/css/style/list.css" rel="stylesheet" />
}

@section scripts{
    <script type="text/javascript">
        seajs.use("/modules/m/scripts/style/list.js", function (data) {
            data.init(
                '@ViewBag.providerID',
                '@Html.ToJSONString((CloudSalesEntity.Users)ViewBag.baseUser)'
            );
        });
    </script>
}
<div class="shade"></div>
<div class="search"> 
    <div class="search-box">
        <span class="iconfont">&#xe605;</span>
        <input type="text" class="txt-search" placeholder="请输入款式名称搜索" />
    </div>
    <div class="btn-search">确定</div>
</div>
<div class="topbar">
    <div class="header">
        <div class="header-li li-task-filtertype">
            <div class="btn-task-filtertype">
            <div class="font16">店铺中心</div>
            @*<div class="iconfont">&#xe61c;</div>
            <ul class="task-filtertype">
                <li data-id="-1">全部</li>
            </ul>*@
            </div>
        </div>
        <div class="btnsearch">
            <div class="iconfont iconfont-search">&#xe605;</div>
        </div>
    </div>
</div>
<div class="filter-list">
    <div class="sort-item mLeft10 hover" data-isactive="1" data-orderbycloumn="p.CreateTime">上架时间
        <span class="asc"></span>
        <span class="desc hover"></span>
    </div>
    <div class="sort-item mLeft20" style="width:60px;" data-orderbycloumn="p.Price">价格
         <span class="asc"></span>
        <span class="desc"></span>
    </div>
    <div class="sort-item mLeft20" style="width:60px;" data-orderbycloumn="p.SaleCount">销量
         <span class="asc"></span>
        <span class="desc"></span>
    </div>
    <div class=" right mTop15 font12 show-category">
        更多<span class="iconfont">&#xe61c;</span>
    </div>
    <div class="clear"></div>
</div>
<div class="list"></div>
<ul class="task-status">
    <li data-status="0" class="hover">
        <a href="/M/Home/Index?providerID=@ViewBag.providerID">
            <div class="ico-status iconfont">&#xe64e;</div>
            款式
        </a>
    </li>
    <li data-status="1">
        <a href="/M/Orders/List?providerID=@ViewBag.providerID">
            <div class="ico-status iconfont">&#xe629;</div>
            订单
        </a>
    </li>
    <li data-status="2" style="width:34%;">
        <a href="/M/Account/Index?providerID=@ViewBag.providerID">
            <div class="ico-status iconfont">&#xe601;</div>
            我的
        </a>
    </li>
    <div class="clear"></div>
</ul>

<div class="overlay-addOrder"></div>

<div class="layer-body hide"></div>
<div class="filter-object hide">
    <div style="height:100%;overflow-y:auto;">
        <div style="background:#ddd;color:#888;text-indent:10px;padding:5px 0;font-size:14px;">
            高级筛选
        </div>
        <div class="layer-box" style="">
            <span style="display:inline-block;width:46px;margin-left:5px;">价格：</span>
            <input type="tel" id="beginPrice" spellcheck="false" placeholder="￥" />
            -
            <input type="tel" id="endPrice" spellcheck="false" placeholder="￥" />
        </div>
        <div class="layer-box">
            <div class="mLeft5 mBottom10">类目：</div>
            <div>
                <ul class="category-box row">
                </ul>
            </div>
        </div>
    </div>
    <div class="fliter-confirm-box">
        <div class="confirm-reset">重置</div>
        <div class="confirm-fliter">确定</div>
    </div>
</div>

