@{
    ViewBag.Title="款式中心";
    var v = DateTime.Now.Ticks;
}
@section css{
    <link href="/modules/m/css/style/list.css" rel="stylesheet" />
}

@section scripts{
    <script type="text/javascript">
        seajs.use("/modules/m/scripts/style/list.js", function (data) {
            data.init(
                '@Html.ToJSONString((List<CloudSalesEntity.ProvidersEntity>)ViewBag.Providers)',
                '@Html.ToJSONString((CloudSalesEntity.Users)ViewBag.baseUser)'
            );
        });
    </script>
}
<div class="shade"></div>
<div class="search"> 
    <div class="search-box">
        <span class="iconfont">&#xe605;</span>
        <input type="text" class="txt-search" placeholder="请输入款式名称搜索" />
    </div>
    <div class="btn-search">确定</div>
</div>
<div class="topbar">
    <div class="header">
        <div class="header-li li-task-filtertype">
            <div class="btn-task-filtertype">
            <div class="font16">供应商-全部</div>
            <div class="iconfont">&#xe61c;</div>
            <ul class="task-filtertype">
                <li data-id="-1">全部</li>
            </ul>
            </div>
        </div>
        <div class="btnsearch">
            <div class="iconfont iconfont-search">&#xe605;</div>
        </div>
    </div>
</div>
<div class="filter-list">
    <div class="sort-item mLeft10 hover" data-isactive="1">上架时间
        <span class="asc"></span>
        <span class="desc hover"></span>
    </div>
    <div class="sort-item mLeft50" style="width:60px;">价格
         <span class="asc"></span>
        <span class="desc"></span>
    </div>
    <div class="clear"></div>
</div>
<ul class="task-status">
    <li data-status="0" class="hover">
        <a href="/M/Home/Index">
            <div class="ico-status iconfont">&#xe64e;</div>
            款式
        </a>
    </li>
    <li data-status="1">
        <a href="/M/Orders/List">
            <div class="ico-status iconfont">&#xe629;</div>
            订单
        </a>
    </li>
    <li data-status="2" style="width:34%;">
        <a href="/M/Account/Index">
            <div class="ico-status iconfont">&#xe601;</div>
            我的
        </a>
    </li>
    <div class="clear"></div>
</ul>
<div class="list"></div>
<div class="overlay-addOrder"></div>


