@{
    var plist = (List<CloudSalesEntity.ProvidersEntity>) ViewBag.Providers;
    ViewBag.Title = "智能工厂--在线下单";
}
@section css{
    <link rel="stylesheet" href="/modules/intfactoryorder/css/intfactoryorders.css"/>
    <style>
        #cgbtn{color: #fff; padding-top: 6px;}
        #cgbtn:hover{color:#f4f4f4;}

    </style>

}
@section scripts{
    <script type="text/javascript"> 
        seajs.use(["/modules/intfactoryorder/scripts/orderslist"], function (obj) {
            obj.init('@ViewBag.ClientID');
        });
    </script>
}
<div style="height: 100px;">
    <div class="divcenter pTop5">
        <div class="left">
            <span><img src="/modules/intfactoryorder/images/ico-cmlogo.png" style="width: 50px; height: 50px;"/></span>
             <span>智能工厂-客户端</span>
        </div>
         @if (ViewBag.LogStatus == 0)
        {
            <a class="btn right mRight20" href="/Home/Register?ReturnUrl=@(ViewBag.Url)/IntFactoryModel/IntFactoryOrder/Orders"  data-name="注册">注册</a>  
            <a class="right mRight10" id="loga" href="/Home/Authorize?ReturnUrl=@(ViewBag.Url)/IntFactoryModel/IntFactoryOrder/Orders" style="padding: 5px 10px;border-radius: 2px;line-height: 16px;background-color: #ffffff; color: #000; border: 1px solid #ccc;" data-name="登陆">登陆</a>
        }
        <div class="searth-module right mRight50 mTop30" data-text="款号/名称模糊搜索..." data-width="180"> </div>
       
        <div class="clear"></div>
    </div>
</div>
<div class="header-box" style="background-color: #4a98e7; padding: 0px 20px;">
    <div class="divcenter">
        <div class="left" id="divCategory">
        <div class="header-title left pLeft10" id="spanCategory" style="padding-right: 10px; color: #999; background-color: #ffffff; font-size: 14px; cursor: pointer; position: relative;">所有类目

        </div>
        <div class="divcategory hide mtop30"></div>

        </div>
        @if (ViewBag.LogStatus > 0)
        {
            <a class="right" id="cgbtn">采购订单</a>
        }
        <span class="clear"></span>
    </div>

</div>
<div class="divcenter seachlist">
    <div class="orderby">
        <ul class="seachul">
            <li title="综合排序" class="font11" data-name="zh" data-desc=""><span class="link hover">综合排序</span></li>
            <li title="销量从高到低" class="font11" data-name="sales" data-desc="Goods.SaleCount desc"><span class="link">销量</span></li>
            <li title="价格从高到低" class="font11" data-name="price" data-desc="" id="liprice" style="position: relative;">
                <span class="link" id="parentprice">价格</span>
                <span class="icon icon-btn-arrow-2-h"></span>
                <ul class="divprice hide">
                    <li data-desc="Goods.Price desc"><span class="link" >价格从高到底</span></li>
                    <li data-desc="Goods.Price asc"><span class="link" >价格从低到高</span></li>
                </ul>
            </li>
            <li title="价格区间" class="font11" id="pricerange" data-name="pricerange" data-desc="" style="padding:0 10px;">
                <span class="left mRight10">
                <input type="text" id="beginprice" value="" style="height: 20px; width: 45px;"  placeholder="￥"/> -
                <input type="text" id="endprice"  value="" style="height: 20px; width: 45px;" placeholder="￥"/>
                </span>
                <span class="btn22 left" id="btnPriceRange" style="display: none;width: 24px; margin-top: 8px;" >确定</span>
                <span class="clear"></span>
            </li>
        </ul>
    </div>
    
</div>
<div >
    <div class="content-body divcenter" style="overflow: hidden; "> 
        <ul class="productlist" id="productlist">

        </ul> 

        <div id="pager" class="mTop20"></div>
    </div>
</div> 
<input hidden="hidden" id="ipturl" type="text" style="display: none;" value="@(ViewBag.Url)"/>