{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<ul class="box-item">
    <li class="tLeft width150">{%=item.Name%}</li>
    <li class="width100">{%=item.MobilePhone||"--"%}</li>
    <li class="width100">{%=item.Jobs||"--"%}</li>         
    <li class="tLeft width200">{%=item.Email||"--"%}</li>
    <li class="tLeft">{%=((item.City ? item.City.Description+item.Address : item.Address))||"--"%}</li>
    <li class="width150">{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss")%}</li>
    <li class="width50 red">{%=item.Type==1?"默认":"&nbsp;"%}</li>
    <li class="width50 dropdown" data-id="{%=item.ContactID%}" data-name="{%=item.Name%}" data-type="{%=item.Type%}">
        <span class="ico-dropdown"></span>
    </li>
</ul>
{% } %}
