{%
{
	var item = $data;
%}
<ul class="easydialog-create">
    <li>
        <span class="width80">类型</span>
        <span id="orderTypes"></span>
    </li>
    <li>
        <span class="width80">联系人</span>
        <span id="orderContacts"></span>
    </li>
    <li>
        <span class="width80">联系人名称</span>
        <input id="orderContact" type="text"  maxlength="50"  value="{%=item.ContactName%}" />
    </li>
    <li>
        <span class="width80">联系电话</span>
        <input id="orderMobile" type="text" maxlength="11" value="{%=item.MobilePhone%}" />
    </li>
    <li>
        <span class="width80">城市</span>
        <span id="orderCity"></span>
    </li>
    <li>
        <span class="width80">详细地址</span>
        <input id="orderAddress" type="text" maxlength="200" value="{%=item.Address%}" />
    </li>
     <li>
        <span class="width80">备注</span>
        <textarea maxlength="500" id="orderRemark"></textarea>
    </li>
</ul>
{% } %}
