{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<ul class="box-item">
    <li class="width30">
        <span class="mark mTop3" data-id="{%= item.CustomerID %}" data-value="{%= item.Mark %}"></span>
    </li>
    <li class="width30">
        <span data-id="{%=item.CustomerID%}" data-userid="{%=item.OwnerID%}" class="checkbox iconfont"></span>
    </li>
    <li class="tLeft width300" title="{%=item.Name%}">
        <a href="javascript:void(0);" class="btn-open-window" data-id="{%= item.CustomerID %}" data-name="客户详情-{%=item.Name%}" data-url="/Customer/Detail/{%=item.CustomerID%}">{%=item.Name.subString(20)%}</a> 
    </li>
    <li class="width100">{%=item.ContactName||"--"%}</li>
    <li class="width100">{%=item.MobilePhone||"--"%}</li>
    <li class="width80">
        {% if(item.OpportunityCount>0){%}
            <a href="javascript:void(0);" class="btn-open-window" data-id="{%= item.CustomerID %}" data-name="客户详情-{%=item.Name%}" 
                data-url="/Customer/Detail?id={%=item.CustomerID%}&nav=navOppor">{%=item.OpportunityCount%}</a> 
        {% } else{ %}
            0
        {% } %}
    </li>
    <li class="width80">
        {% if(item.OrderCount>0){%}
            <a href="javascript:void(0);" class="btn-open-window" data-id="{%= item.CustomerID %}" data-name="客户详情-{%=item.Name%}" 
                data-url="/Customer/Detail?id={%=item.CustomerID%}&nav=navOrder">{%=item.OrderCount%}</a> 
        {% } else{ %}
            0
        {% } %}
    </li>
    <li class="width80">{%=(item.Owner ? item.Owner.Name:"--")%}</li>
    <li class="width100">{%=item.CreateTime.toDate("yyyy-MM-dd")%}</li>
</ul>
{% } %}