<table class="table-list">
    <tr class="tr-header">
        <td>名称</td>
        <td>联系方式</td>
        <td>操作</td>
    </tr>
        <tr class="tr-header">
        <td class="center">
            <a href="/Customer/Detail">嘎嘎</a>
        </td>
        <td class="center">13888786546</td>
        <td class="center">
            <p class="iconfont" style="background-color:red;padding:4px 5px;color:#fff;border-radius:10px;width:80px;margin:10px auto;font-size:30px;">&#xe651;</p>
            <p class="iconfont" style="background-color:#4a98e7;padding:4px 5px;color:#fff;border-radius:10px;width:80px;margin:10px auto;font-size:30px;">&#xe607;</p>
        </td>
    </tr>
</table>